In [2]:
import pandas as pd
import numpy as np
import logging

# Load the data file<
file_path = '/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/Group8__ImholzA_AntonB_GonzalezC/Imholz_Chris_studentA/Data/Imholz_Chris_studentA_stage1.csv'
#file_path = '/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/data/raw_data_stage1/Imholz_Chris_studentA_stage1.csv'
data = pd.read_csv(file_path, delimiter=';')


# Display the first few rows of the dataframe and the general information
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 29 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Name                                                                 187 non-null    object
 1   Currency                                                             187 non-null    object
 2   Market Cap                                                           187 non-null    object
 3   CDP                                                                  19 non-null     object
 4   FTSE4Good                                                            4 non-null      object
 5   MSCI ESG Ratings                                                     4 non-null      object
 6   Moody's ESG Solution                                                 2 non-null      object
 7   Sustainalytics                                                       27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)            119 non-null    object
 9   Share of women in total workforce                                    157 non-null    object
 10  Rate of resignation                                                  57 non-null     object
 11  Type                                                                 187 non-null    object
 12  Sub type                                                             187 non-null    object
 13  Market                                                               187 non-null    object
 14  ISIN Code                                                            187 non-null    object
 15  Industry                                                             187 non-null    object
 16  SuperSector                                                          187 non-null    object
 17  Sector                                                               187 non-null    object
 18  Subsector                                                            187 non-null    object
 19  Share of women in management bodies                                  135 non-null    object
 20  Gender pay gap                                                       59 non-null     object
 21  Professional equality index                                          28 non-null     object
 22  Rate of employees with disabilities                                  60 non-null     object
 23  Average training hours per employee                                  121 non-null    object
 24  Board gender diversity (female board members / total board members)  168 non-null    object
 25  Number of female board members                                       168 non-null    object
 26  Number of board members                                              168 non-null    object
 27  Total energy consumption                                             140 non-null    object
 28   Ratio of non-recycledÂ waste                                         0 non-null      float64
dtypes: float64(1), object(28)
memory usage: 43.6+ KB

/tmp/ipykernel_2560/3560751584.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Ratio of non-recycledÂ waste
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",NaN
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,NaN
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",NaN
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",NaN
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",NaN

In [4]:
# Check for columns that are completely empty and drop them
data_not_empty_columns = data.dropna(how='all', axis=1)

# Show the columns removed (if any)
data_not_empty_columns.columns.difference(data.columns)
data=data_not_empty_columns

# Updated DataFrame info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 28 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Name                                                                 187 non-null    object
 1   Currency                                                             187 non-null    object
 2   Market Cap                                                           187 non-null    object
 3   CDP                                                                  19 non-null     object
 4   FTSE4Good                                                            4 non-null      object
 5   MSCI ESG Ratings                                                     4 non-null      object
 6   Moody's ESG Solution                                                 2 non-null      object
 7   Sustainalytics                                                       27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)            119 non-null    object
 9   Share of women in total workforce                                    157 non-null    object
 10  Rate of resignation                                                  57 non-null     object
 11  Type                                                                 187 non-null    object
 12  Sub type                                                             187 non-null    object
 13  Market                                                               187 non-null    object
 14  ISIN Code                                                            187 non-null    object
 15  Industry                                                             187 non-null    object
 16  SuperSector                                                          187 non-null    object
 17  Sector                                                               187 non-null    object
 18  Subsector                                                            187 non-null    object
 19  Share of women in management bodies                                  135 non-null    object
 20  Gender pay gap                                                       59 non-null     object
 21  Professional equality index                                          28 non-null     object
 22  Rate of employees with disabilities                                  60 non-null     object
 23  Average training hours per employee                                  121 non-null    object
 24  Board gender diversity (female board members / total board members)  168 non-null    object
 25  Number of female board members                                       168 non-null    object
 26  Number of board members                                              168 non-null    object
 27  Total energy consumption                                             140 non-null    object
dtypes: object(28)
memory usage: 42.1+ KB

In [5]:
# Count rows where all elements are NaN
empty_rows_count = data.isna().all(axis=1).sum()
print("Number of completely empty rows:", empty_rows_count)

# Check for rows that are completely empty and drop them
data = data.dropna(how='all', axis=0)
data

Number of completely empty rows: 5

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Subsector,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,"40501025, Hotels and Motels",%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh"
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,"55201020, Specialty Chemicals",30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,"50201010, Aerospace",NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh"
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,"55102010, Iron and Steel",15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule"
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,"30302010, Full Line Insurance",35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,77.072B,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,...,"40101020, Automobiles",%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh"
186,STMICROELECTRONICS,EUR,34.237B,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,...,"10102010, Semiconductors",%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule"
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,"15102015, Telecommunications Services",28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh"
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,"65101015, Conventional Electricity",23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule"
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,"30302010, Full Line Insurance",16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule"

In [6]:
# Helper function to convert Market Cap to numeric
# Beispiel-Wechselkurse zu USD: Google 18. Apr., 13:08 UTC
exchange_rates = {
'EUR': 1.07,
'GBP': 1.25,
'NOK': 0.091,
'USD': 1
}

def expand_number(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().upper()
    if value.endswith('B'):
        value =  float(value[:-1]) * 1e9  # Convert billions to a numeric value
    elif value.endswith('M'):
        value =  float(value[:-1]) * 1e6  # Convert millions to a numeric value
    elif value.endswith('K'):
        value =  float(value[:-1]) * 1e3  # Convert thousands to a numeric value
    else:
        value = float(value)  # Handle numeric-only strings as is
    return round(value,3)

def convert_to_usd(currency, amount):
    if pd.isna(amount):
        return np.nan
    return amount * exchange_rates[currency]

def process_market_cap(row):
    # Erweitere den Betrag zu einer vollstÃ¤ndigen Zahl
    full_amount = expand_number(row['Market Cap'])
    # Wandle die WÃ¤hrung in USD um
    amount_in_usd = convert_to_usd(row['Currency'], full_amount)
    return amount_in_usd

# Lade den DataFrame, hier durch eine CSV-Datei ersetzt
# data = pd.read_csv('path_to_your_csv.csv')

# Annahme: 'data' ist ein DataFrame mit den Spalten 'Currency' und 'Market Cap'
# Anwenden der Funktion
data['Market Cap in USD'] = data.apply(process_market_cap, axis=1)
data = data.drop('Market Cap',axis='columns')

/tmp/ipykernel_2560/3642019202.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Market Cap in USD'] = data.apply(process_market_cap, axis=1)

In [7]:
def parse_and_convert_tons_currency(value):
    # PrÃ¼ft auf NaN Werte
    if pd.isna(value) or value == '':
        return None
    
    parts = value.split(' ')
    
    if len(parts) < 5:
        return None

    # Extrahiert den Betrag, die Einheit und die WÃ¤hrung
    if parts[0].replace(',', '') == '':
        return None
    else:
        amount = float(parts[0].replace(',', ''))
    
    unit = parts[2]
    currency = parts[4].strip('()')

    # Konvertiert Tausend in Millionen, falls nÃ¶tig
    if unit == 'Thousand':
        amount /= 1000

    # Wandelt den Betrag in USD um, falls er nicht bereits in USD ist
    if currency != 'USD':
        amount *= round(float(exchange_rates.get(currency,1)),3)

    return amount

# Anwendung der Funktion
data['Carbon footprint (total GHG emissions / enterprise value)' + '_in_USD'] = data['Carbon footprint (total GHG emissions / enterprise value)'].apply(parse_and_convert_tons_currency)
data = data.drop('Carbon footprint (total GHG emissions / enterprise value)',axis='columns')
data

,Name,Currency,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Share of women in total workforce,Rate of resignation,Type,...,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Market Cap in USD,Carbon footprint (total GHG emissions / enterprise value)_in_USD
0,ACCOR,EUR,NaN,NaN,NaN,NaN,NaN,%,%,Stock,...,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",1.033192e+10,572.631900
1,AIR LIQUIDE,EUR,NaN,NaN,NaN,NaN,NaN,28%,8.60%,Stock,...,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,1.051361e+11,NaN
2,AIRBUS SE,EUR,NaN,NaN,NaN,NaN,NaN,20%,NaN,Stock,...,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",1.361650e+11,NaN
3,ARCELORMITTAL SA,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stock,...,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",2.175417e+10,3373.201000
4,AXA,EUR,NaN,NaN,NaN,NaN,NaN,NaN,10%,Stock,...,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",8.254087e+10,2.717800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,NaN,NaN,NaN,NaN,NaN,%,%,Stock,...,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh",8.246704e+10,6858.244394
186,STMICROELECTRONICS,EUR,NaN,NaN,NaN,NaN,NaN,%,%,Stock,...,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule",3.663359e+10,27.984900
187,TELECOM ITALIA,EUR,NaN,NaN,NaN,NaN,NaN,38%,NaN,Stock,...,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",3.591990e+09,133.632300
189,TERNA,EUR,NaN,NaN,NaN,NaN,NaN,16.08%,1.80%,Stock,...,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",1.562735e+10,141.369684
191,UNIPOL,EUR,NaN,NaN,NaN,NaN,NaN,54.30%,2.70%,Stock,...,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",6.241310e+09,509.708945

In [8]:
# Helper function to convert percentage strings to floats
def convert_percentage(value):
    if pd.isna(value) or value.strip('% ') == '':
        return np.nan
    return round(float(value.strip('% ')) / 100,3)

def unit_strip(value):
    if pd.isna(value) or value.strip('unit') == '':
        return np.nan
    elif value.replace('unit', '') == " ":
        return np.nan
    return float(value.replace('unit', ''))

import re
def convert_to_mwh(value):
    conversion_factors = {
    'GWh': 1000,
    'terajoule': 277.778,
    'gigajoule': 0.277778,
    'MWh': 1
    }
    match = re.search(r'([\d,]+(?:\.\d+)?)\s*(GWh|MWh|terajoule|gigajoule)', str(value).replace(',', ''))
    if match:
        # Convert string value to float
        value = float(match.group(1).replace(',', ''))
        unit = match.group(2)
        return round(value * conversion_factors[unit],3) # Convert the value to MWh

# Apply conversions
data['Share of women in total workforce in %'] = data['Share of women in total workforce'].apply(convert_percentage)
data = data.drop("Share of women in total workforce",axis='columns')
data['Share of women in management bodies in %'] = data['Share of women in management bodies'].apply(convert_percentage)
data = data.drop('Share of women in management bodies',axis='columns')
data['Gender pay gap in %'] = data['Gender pay gap'].apply(convert_percentage)
data = data.drop('Gender pay gap',axis='columns')
data['Rate of employees with disabilities in %'] = data['Rate of employees with disabilities'].apply(convert_percentage)
data = data.drop('Rate of employees with disabilities',axis='columns')
data['Board gender diversity (female board members / total board members) in %'] = data['Board gender diversity (female board members / total board members)'].apply(convert_percentage)
data = data.drop('Board gender diversity (female board members / total board members)',axis='columns')
data['Professional equality index'] = data['Professional equality index'].apply(unit_strip)
data['Number of female board members'] = data['Number of female board members'].apply(unit_strip)
data['Number of board members'] = data['Number of board members'].apply(unit_strip)
data['Average training hours per employee'] = data['Average training hours per employee'].apply(unit_strip)
data['Total energy consumption in mwh'] = data['Total energy consumption'].apply(convert_to_mwh)
data = data.drop('Total energy consumption', axis='columns')
data['Rate of resignation in %'] = data['Rate of resignation'].apply(convert_percentage)
data = data.drop('Rate of resignation', axis='columns')
data

# Transformed data
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187 entries, 0 to 191
Data columns (total 28 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Name                                                                      187 non-null    object
 1   Currency                                                                  187 non-null    object
 2   CDP                                                                       19 non-null     object
 3   FTSE4Good                                                                 4 non-null      object
 4   MSCI ESG Ratings                                                          4 non-null      object
 5   Moody's ESG Solution                                                      2 non-null      object
 6   Sustainalytics                                                            27 non-null     object
 7   Type                                                                      187 non-null    object
 8   Sub type                                                                  187 non-null    object
 9   Market                                                                    187 non-null    object
 10  ISIN Code                                                                 187 non-null    object
 11  Industry                                                                  187 non-null    object
 12  SuperSector                                                               187 non-null    object
 13  Sector                                                                    187 non-null    object
 14  Subsector                                                                 187 non-null    object
 15  Professional equality index                                               21 non-null     float64
 16  Average training hours per employee                                       106 non-null    float64
 17  Number of female board members                                            168 non-null    float64
 18  Number of board members                                                   168 non-null    float64
 19  Market Cap in USD                                                         187 non-null    float64
 20  Carbon footprint (total GHG emissions / enterprise value)_in_USD          115 non-null    float64
 21  Share of women in total workforce in %                                    144 non-null    float64
 22  Share of women in management bodies in %                                  125 non-null    float64
 23  Gender pay gap in %                                                       47 non-null     float64
 24  Rate of employees with disabilities in %                                  50 non-null     float64
 25  Board gender diversity (female board members / total board members) in %  168 non-null    float64
 26  Total energy consumption in mwh                                           124 non-null    float64
 27  Rate of resignation in %                                                  51 non-null     float64
dtypes: float64(13), object(15)
memory usage: 42.4+ KB

In [9]:
data

,Name,Currency,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Type,Sub type,Market,...,Number of board members,Market Cap in USD,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,13.0,1.033192e+10,572.631900,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,14.0,1.051361e+11,NaN,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,12.0,1.361650e+11,NaN,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,...,10.0,2.175417e+10,3373.201000,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,16.0,8.254087e+10,2.717800,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,11.0,8.246704e+10,6858.244394,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,9.0,3.663359e+10,27.984900,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,15.0,3.591990e+09,133.632300,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,13.0,1.562735e+10,141.369684,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,15.0,6.241310e+09,509.708945,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027

In [10]:
# Calculate the percentage of missing values per column
missing_data = data.isnull().mean() * 100.00

# Display the percentage of missing data per column
missing_data_sorted = missing_data.sort_values(ascending=False)
missing_data_sorted

Moody's ESG Solution                                                        98.930481
FTSE4Good                                                                   97.860963
MSCI ESG Ratings                                                            97.860963
CDP                                                                         89.839572
Professional equality index                                                 88.770053
Sustainalytics                                                              85.561497
Gender pay gap in %                                                         74.866310
Rate of employees with disabilities in %                                    73.262032
Rate of resignation in %                                                    72.727273
Average training hours per employee                                         43.315508
Carbon footprint (total GHG emissions / enterprise value)_in_USD            38.502674
Total energy consumption in mwh                                             33.689840
Share of women in management bodies in %                                    33.155080
Share of women in total workforce in %                                      22.994652
Number of board members                                                     10.160428
Board gender diversity (female board members / total board members) in %    10.160428
Number of female board members                                              10.160428
Market Cap in USD                                                            0.000000
Name                                                                         0.000000
Currency                                                                     0.000000
Sector                                                                       0.000000
SuperSector                                                                  0.000000
Industry                                                                     0.000000
ISIN Code                                                                    0.000000
Market                                                                       0.000000
Sub type                                                                     0.000000
Type                                                                         0.000000
Subsector                                                                    0.000000
dtype: float64

In [11]:
# Finden der Spalten, bei denen der Prozentsatz der fehlenden Daten grÃ¶Ãer als 80% ist
columns_to_drop = missing_data[missing_data > 80].index
# LÃ¶schen dieser Spalten aus dem DataFrame
data.drop(columns=columns_to_drop, inplace=True)
data

,Name,Currency,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector,...,Number of board members,Market Cap in USD,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels",...,13.0,1.033192e+10,572.631900,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals",...,14.0,1.051361e+11,NaN,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace",...,12.0,1.361650e+11,NaN,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel",...,10.0,2.175417e+10,3373.201000,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",...,16.0,8.254087e+10,2.717800,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts","40101020, Automobiles",...,11.0,8.246704e+10,6858.244394,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment","10102010, Semiconductors",...,9.0,3.663359e+10,27.984900,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services",...,15.0,3.591990e+09,133.632300,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity",...,13.0,1.562735e+10,141.369684,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",...,15.0,6.241310e+09,509.708945,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027

In [12]:
columns_to_drop

Index(['CDP', 'FTSE4Good', 'MSCI ESG Ratings', 'Moody's ESG Solution',
       'Sustainalytics', 'Professional equality index'],
      dtype='object')

In [13]:
data.columns

Index(['Name', 'Currency', 'Type', 'Sub type', 'Market', 'ISIN Code',
       'Industry', 'SuperSector', 'Sector', 'Subsector',
       'Average training hours per employee', 'Number of female board members',
       'Number of board members', 'Market Cap in USD',
       'Carbon footprint (total GHG emissions / enterprise value)_in_USD',
       'Share of women in total workforce in %',
       'Share of women in management bodies in %', 'Gender pay gap in %',
       'Rate of employees with disabilities in %',
       'Board gender diversity (female board members / total board members) in %',
       'Total energy consumption in mwh', 'Rate of resignation in %'],
      dtype='object')

In [14]:
#Save DataFrame to a CSV file with semicolon as the delimiter with the required _stage2.csv ending form project
data.to_csv('/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/Group8__ImholzA_AntonB_GonzalezC/Imholz_Chris_studentA/Data/Imholz_Chris_studentA_stage3.csv', sep=';', index=False)
# data.to_csv('/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/data/clean_data_stage3/Imholz_Chris_studentA_stage3.csv', sep=';', index=False)

In [15]:
# Tabel erstellen 
CREATE TABLE tbl_financial_euronext_data (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    currency VARCHAR(255),
    market_cap_in_USD VARCHAR(255),
    carbon_footprint_total_GHG_emissions_per_enterprise_value VARCHAR(255),
    security_type VARCHAR(255),
    security_type_subtype VARCHAR(255),
    market VARCHAR(255),
    isin VARCHAR(20),
    industry VARCHAR(255),
    super_sector VARCHAR(255),
    sector VARCHAR(255),
    subsector VARCHAR(255),
    average_training_hours_per_employee VARCHAR(255),
    number_of_female_board_members VARCHAR(255),
    number_of_board_members VARCHAR(255),
    share_of_woman_in_total_workforce_in_percent VARCHAR(255),
    share_of_woman_in_management_bodies_in_percent VARCHAR(255),
    gender_pay_gap_in_percent VARCHAR(255),
    rate_of_employees_with_disabilities_in_percent VARCHAR(255),
    board_gender_diversity_in_percent VARCHAR(255),
    total_energy_consumption_in_mwh VARCHAR(255),
    rate_of_resignation_in_percent VARCHAR(255)
);

SyntaxError: invalid syntax (2581646453.py, line 2)

In [16]:
data.count

<bound method DataFrame.count of                    Name Currency   Type         Sub type              Market  \
0                 ACCOR      EUR  Stock  Ordinary Shares      Euronext Paris
1           AIR LIQUIDE      EUR  Stock  Ordinary Shares      Euronext Paris
2             AIRBUS SE      EUR  Stock  Ordinary Shares      Euronext Paris
3      ARCELORMITTAL SA      EUR  Stock  Ordinary Shares  Euronext Amsterdam
4                   AXA      EUR  Stock  Ordinary Shares      Euronext Paris
..                  ...      ...    ...              ...                 ...
185          STELLANTIS      EUR  Stock  Ordinary Shares      Euronext Milan
186  STMICROELECTRONICS      EUR  Stock  Ordinary Shares      Euronext Milan
187      TELECOM ITALIA      EUR  Stock  Ordinary Shares      Euronext Milan
189               TERNA      EUR  Stock  Ordinary Shares      Euronext Milan
191              UNIPOL      EUR  Stock  Ordinary Shares      Euronext Milan

        ISIN Code                    Industry  \
0    FR0000120404  40, Consumer Discretionary
1    FR0000120073         55, Basic Materials
2    NL0000235190             50, Industrials
3    LU1598757687         55, Basic Materials
4    FR0000120628              30, Financials
..            ...                         ...
185  NL00150001Q9  40, Consumer Discretionary
186  NL0000226223              10, Technology
187  IT0003497168      15, Telecommunications
189  IT0003242622               65, Utilities
191  IT0004810054              30, Financials

                             SuperSector  \
0               4050, Travel and Leisure
1                        5520, Chemicals
2    5020, Industrial Goods and Services
3                  5510, Basic Resources
4                        3030, Insurance
..                                   ...
185          4010, Automobiles and Parts
186                     1010, Technology
187             1510, Telecommunications
189                      6510, Utilities
191                      3030, Insurance

                                           Sector  \
0                      405010, Travel and Leisure
1                               552010, Chemicals
2                   502010, Aerospace and Defense
3            551020, Industrial Metals and Mining
4                      303020, Non-life Insurance
..                                            ...
185                 401010, Automobiles and Parts
186     101020, Technology Hardware and Equipment
187  151020, Telecommunications Service Providers
189                           651010, Electricity
191                    303020, Non-life Insurance

                                 Subsector  ...  Number of board members  \
0              40501025, Hotels and Motels  ...                     13.0
1            55201020, Specialty Chemicals  ...                     14.0
2                      50201010, Aerospace  ...                     12.0
3                 55102010, Iron and Steel  ...                     10.0
4            30302010, Full Line Insurance  ...                     16.0
..                                     ...  ...                      ...
185                  40101020, Automobiles  ...                     11.0
186               10102010, Semiconductors  ...                      9.0
187  15102015, Telecommunications Services  ...                     15.0
189     65101015, Conventional Electricity  ...                     13.0
191          30302010, Full Line Insurance  ...                     15.0

     Market Cap in USD  \
0         1.033192e+10
1         1.051361e+11
2         1.361650e+11
3         2.175417e+10
4         8.254087e+10
..                 ...
185       8.246704e+10
186       3.663359e+10
187       3.591990e+09
189       1.562735e+10
191       6.241310e+09

     Carbon footprint (total GHG emissions / enterprise value)_in_USD  \
0                                           572.631900
1                                                  NaN
2                                                  NaN
3                                          3373.201000
4                                             2.717800
..                                                 ...
185                                        6858.244394
186                                          27.984900
187                                         133.632300
189                                         141.369684
191                                         509.708945

     Share of women in total workforce in %  \
0                                       NaN
1                                     0.280
2                                     0.200
3                                       NaN
4                                       NaN
..                                      ...
185                                     NaN
186                                     NaN
187                                   0.380
189                                   0.161
191                                   0.543

     Share of women in management bodies in %  Gender pay gap in %  \
0                                         NaN                  NaN
1                                       0.300                  NaN
2                                         NaN                  NaN
3                                       0.157                  NaN
4                                       0.353                  NaN
..                                        ...                  ...
185                                       NaN                  NaN
186                                       NaN                  NaN
187                                     0.280                  NaN
189                                     0.237                 0.19
191                                     0.162                 0.09

     Rate of employees with disabilities in %  \
0                                         NaN
1                                       0.045
2                                         NaN
3                                         NaN
4                                       0.007
..                                        ...
185                                       NaN
186                                       NaN
187                                     0.030
189                                       NaN
191                                       NaN

     Board gender diversity (female board members / total board members) in %  \
0                                                0.615
1                                                0.357
2                                                0.333
3                                                0.300
4                                                0.563
..                                                 ...
185                                              0.273
186                                              0.444
187                                              0.400
189                                              0.461
191                                              0.400

     Total energy consumption in mwh  Rate of resignation in %
0                       1.371200e+07                       NaN
1                                NaN                     0.086
2                       3.717000e+06                       NaN
3                       3.866670e+08                       NaN
4                       2.236380e+05                     0.100
..                               ...                       ...
185                     1.549489e+07                       NaN
186                     2.878880e+06                       NaN
187                     2.671000e+06                       NaN
189                     2.578550e+05                     0.018
191                     1.474418e+05                     0.027

[187 rows x 22 columns]>

In [31]:
import mariadb
import sys
try:
    conn = mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1", # 10.177.124.185, localhost ,
        port=3306,
        database="CIP"
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)
    
data = data.where(pd.notnull(data), None)   

conn.autocommit = False  # explizites Handling des Commits
# Get Cursor
cur = conn.cursor()

# Iterate over each row in the DataFrame
for index, row in data.iterrows():
    # Extract data from the DataFrame row using the new column names
    name = row['Name']
    currency = row['Currency']
    market_cap_in_USD = row['Market Cap in USD']
    carbon_footprint_total_GHG_emissions_per_enterprise_value = row['Carbon footprint (total GHG emissions / enterprise value)_in_USD']
    security_type = row['Type']  # Make sure this is the correct column name
    security_type_subtype = row['Sub type']  # Make sure this is the correct column name
    market = row['Market']
    isin = row['ISIN Code']
    industry = row['Industry']
    super_sector = row['SuperSector']
    sector = row['Sector']
    subsector = row['Subsector']
    average_training_hours_per_employee = row['Average training hours per employee']
    number_of_female_board_members = row['Number of female board members']
    number_of_board_members = row['Number of board members']
    share_of_woman_in_total_workforce_in_percent = row['Share of women in total workforce in %']
    share_of_woman_in_management_bodies_in_percent = row['Share of women in management bodies in %']
    gender_pay_gap_in_percent = row['Gender pay gap in %']
    rate_of_employees_with_disabilities_in_percent = row['Rate of employees with disabilities in %']
    board_gender_diversity_in_percent = row['Board gender diversity (female board members / total board members) in %']
    total_energy_consumption_in_mwh = row['Total energy consumption in mwh']
    rate_of_resignation_in_percent = row['Rate of resignation in %']
    
    
    # Prepare the INSERT query
    query = """
    INSERT INTO tbl_financial_euronext_data
    (name, currency, market_cap_in_USD, carbon_footprint_total_GHG_emissions_per_enterprise_value,  security_type, security_type_subtype , market,   isin ,  industry ,  super_sector ,  sector ,  subsector ,  average_training_hours_per_employee,  number_of_female_board_members ,  number_of_board_members , share_of_woman_in_total_workforce_in_percent,  share_of_woman_in_management_bodies_in_percent,  gender_pay_gap_in_percent ,  rate_of_employees_with_disabilities_in_percent ,  board_gender_diversity_in_percent,total_energy_consumption_in_mwh , rate_of_resignation_in_percent) 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """

    # Attempt to execute the INSERT query
    try:
        cur.execute(query, (name,currency, market_cap_in_USD, carbon_footprint_total_GHG_emissions_per_enterprise_value, security_type, security_type_subtype , market,isin, industry, super_sector, sector, subsector,average_training_hours_per_employee, number_of_female_board_members, number_of_board_members, share_of_woman_in_total_workforce_in_percent, share_of_woman_in_management_bodies_in_percent, gender_pay_gap_in_percent,rate_of_employees_with_disabilities_in_percent, board_gender_diversity_in_percent,total_energy_consumption_in_mwh, rate_of_resignation_in_percent))
    except mariadb.Error as e:
        print(f"Error: {e}")
        continue

conn.commit()
# Commit changes to the database
conn.close()
# Print success message
print("Data insertion complete.")

Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Error: Unknown column 'nan' in 'field list'
Data insertion complete.

In [34]:
import mariadb
import sys
import pandas as pd

data = data.where(pd.notnull(data), None)

# Verbindung zur Datenbank herstellen
try:
    conn = mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1",
        port=3306,
        database="CIP"
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

conn.autocommit = False
cur = conn.cursor()

# Daten in die Datenbank einfÃ¼gen
errors = []
for index, row in data.iterrows():
    query = """
    INSERT INTO tbl_financial_euronext_data
    (name, currency, market_cap_in_USD, carbon_footprint_total_GHG_emissions_per_enterprise_value, security_type, security_type_subtype, market, isin, industry, super_sector, sector, subsector, average_training_hours_per_employee, number_of_female_board_members, number_of_board_members, share_of_woman_in_total_workforce_in_percent, share_of_woman_in_management_bodies_in_percent, gender_pay_gap_in_percent, rate_of_employees_with_disabilities_in_percent, board_gender_diversity_in_percent, total_energy_consumption_in_mwh, rate_of_resignation_in_percent) 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    try:
        cur.execute(query, (
            row['Name'],
            row['Currency'],
            row['Market Cap in USD'],
            row['Carbon footprint (total GHG emissions / enterprise value)_in_USD'],
            row['Type'],
            row['Sub type'],
            row['Market'],
            row['ISIN Code'],
            row['Industry'],
            row['SuperSector'],
            row['Sector'],
            row['Subsector'],
            row['Average training hours per employee'],
            row['Number of female board members'],
            row['Number of board members'],
            row['Share of women in total workforce in %'],
            row['Share of women in management bodies in %'],
            row['Gender pay gap in %'],
            row['Rate of employees with disabilities in %'],
            row['Board gender diversity (female board members / total board members) in %'],
            row['Total energy consumption in mwh'],
            row['Rate of resignation in %']
        ))
    except mariadb.Error as e:
        errors.append(f"Error: {e} at index {index}")
        continue

# Ãnderungen bestÃ¤tigen und Verbindung schlieÃen
conn.commit()
conn.close()

# Fehler und Erfolgsmeldung ausgeben
if errors:
    print(f"Es gab {len(errors)} Fehler beim EinfÃ¼gen der Daten.")
for error in errors:
    print(error)
print("Data insertion complete.")

Es gab 180 Fehler beim EinfÃ¼gen der Daten.
Error: Unknown column 'nan' in 'field list' at index 0
Error: Unknown column 'nan' in 'field list' at index 1
Error: Unknown column 'nan' in 'field list' at index 2
Error: Unknown column 'nan' in 'field list' at index 3
Error: Unknown column 'nan' in 'field list' at index 4
Error: Unknown column 'nan' in 'field list' at index 5
Error: Unknown column 'nan' in 'field list' at index 6
Error: Unknown column 'nan' in 'field list' at index 7
Error: Unknown column 'nan' in 'field list' at index 8
Error: Unknown column 'nan' in 'field list' at index 9
Error: Unknown column 'nan' in 'field list' at index 10
Error: Unknown column 'nan' in 'field list' at index 11
Error: Unknown column 'nan' in 'field list' at index 12
Error: Unknown column 'nan' in 'field list' at index 14
Error: Unknown column 'nan' in 'field list' at index 15
Error: Unknown column 'nan' in 'field list' at index 16
Error: Unknown column 'nan' in 'field list' at index 17
Error: Unknown column 'nan' in 'field list' at index 18
Error: Unknown column 'nan' in 'field list' at index 19
Error: Unknown column 'nan' in 'field list' at index 20
Error: Unknown column 'nan' in 'field list' at index 21
Error: Unknown column 'nan' in 'field list' at index 22
Error: Unknown column 'nan' in 'field list' at index 24
Error: Unknown column 'nan' in 'field list' at index 25
Error: Unknown column 'nan' in 'field list' at index 26
Error: Unknown column 'nan' in 'field list' at index 28
Error: Unknown column 'nan' in 'field list' at index 29
Error: Unknown column 'nan' in 'field list' at index 30
Error: Unknown column 'nan' in 'field list' at index 31
Error: Unknown column 'nan' in 'field list' at index 32
Error: Unknown column 'nan' in 'field list' at index 33
Error: Unknown column 'nan' in 'field list' at index 34
Error: Unknown column 'nan' in 'field list' at index 35
Error: Unknown column 'nan' in 'field list' at index 37
Error: Unknown column 'nan' in 'field list' at index 38
Error: Unknown column 'nan' in 'field list' at index 39
Error: Unknown column 'nan' in 'field list' at index 40
Error: Unknown column 'nan' in 'field list' at index 41
Error: Unknown column 'nan' in 'field list' at index 42
Error: Unknown column 'nan' in 'field list' at index 43
Error: Unknown column 'nan' in 'field list' at index 44
Error: Unknown column 'nan' in 'field list' at index 45
Error: Unknown column 'nan' in 'field list' at index 46
Error: Unknown column 'nan' in 'field list' at index 47
Error: Unknown column 'nan' in 'field list' at index 48
Error: Unknown column 'nan' in 'field list' at index 49
Error: Unknown column 'nan' in 'field list' at index 50
Error: Unknown column 'nan' in 'field list' at index 51
Error: Unknown column 'nan' in 'field list' at index 52
Error: Unknown column 'nan' in 'field list' at index 53
Error: Unknown column 'nan' in 'field list' at index 54
Error: Unknown column 'nan' in 'field list' at index 55
Error: Unknown column 'nan' in 'field list' at index 56
Error: Unknown column 'nan' in 'field list' at index 57
Error: Unknown column 'nan' in 'field list' at index 58
Error: Unknown column 'nan' in 'field list' at index 59
Error: Unknown column 'nan' in 'field list' at index 60
Error: Unknown column 'nan' in 'field list' at index 61
Error: Unknown column 'nan' in 'field list' at index 62
Error: Unknown column 'nan' in 'field list' at index 63
Error: Unknown column 'nan' in 'field list' at index 64
Error: Unknown column 'nan' in 'field list' at index 65
Error: Unknown column 'nan' in 'field list' at index 66
Error: Unknown column 'nan' in 'field list' at index 67
Error: Unknown column 'nan' in 'field list' at index 68
Error: Unknown column 'nan' in 'field list' at index 69
Error: Unknown column 'nan' in 'field list' at index 70
Error: Unknown column 'nan' in 'field list' at index 71
Error: Unknown column 'nan' in 'field list' at index 72
Error: Unknown column 'nan' in 'field list' at index 73
Error: Unknown column 'nan' in 'field list' at index 74
Error: Unknown column 'nan' in 'field list' at index 75
Error: Unknown column 'nan' in 'field list' at index 76
Error: Unknown column 'nan' in 'field list' at index 77
Error: Unknown column 'nan' in 'field list' at index 78
Error: Unknown column 'nan' in 'field list' at index 79
Error: Unknown column 'nan' in 'field list' at index 80
Error: Unknown column 'nan' in 'field list' at index 81
Error: Unknown column 'nan' in 'field list' at index 82
Error: Unknown column 'nan' in 'field list' at index 83
Error: Unknown column 'nan' in 'field list' at index 84
Error: Unknown column 'nan' in 'field list' at index 85
Error: Unknown column 'nan' in 'field list' at index 86
Error: Unknown column 'nan' in 'field list' at index 87
Error: Unknown column 'nan' in 'field list' at index 88
Error: Unknown column 'nan' in 'field list' at index 89
Error: Unknown column 'nan' in 'field list' at index 90
Error: Unknown column 'nan' in 'field list' at index 91
Error: Unknown column 'nan' in 'field list' at index 92
Error: Unknown column 'nan' in 'field list' at index 93
Error: Unknown column 'nan' in 'field list' at index 94
Error: Unknown column 'nan' in 'field list' at index 95
Error: Unknown column 'nan' in 'field list' at index 96
Error: Unknown column 'nan' in 'field list' at index 97
Error: Unknown column 'nan' in 'field list' at index 98
Error: Unknown column 'nan' in 'field list' at index 99
Error: Unknown column 'nan' in 'field list' at index 100
Error: Unknown column 'nan' in 'field list' at index 101
Error: Unknown column 'nan' in 'field list' at index 102
Error: Unknown column 'nan' in 'field list' at index 103
Error: Unknown column 'nan' in 'field list' at index 104
Error: Unknown column 'nan' in 'field list' at index 105
Error: Unknown column 'nan' in 'field list' at index 106
Error: Unknown column 'nan' in 'field list' at index 107
Error: Unknown column 'nan' in 'field list' at index 108
Error: Unknown column 'nan' in 'field list' at index 109
Error: Unknown column 'nan' in 'field list' at index 110
Error: Unknown column 'nan' in 'field list' at index 111
Error: Unknown column 'nan' in 'field list' at index 112
Error: Unknown column 'nan' in 'field list' at index 113
Error: Unknown column 'nan' in 'field list' at index 114
Error: Unknown column 'nan' in 'field list' at index 115
Error: Unknown column 'nan' in 'field list' at index 116
Error: Unknown column 'nan' in 'field list' at index 117
Error: Unknown column 'nan' in 'field list' at index 118
Error: Unknown column 'nan' in 'field list' at index 119
Error: Unknown column 'nan' in 'field list' at index 120
Error: Unknown column 'nan' in 'field list' at index 121
Error: Unknown column 'nan' in 'field list' at index 122
Error: Unknown column 'nan' in 'field list' at index 123
Error: Unknown column 'nan' in 'field list' at index 124
Error: Unknown column 'nan' in 'field list' at index 125
Error: Unknown column 'nan' in 'field list' at index 126
Error: Unknown column 'nan' in 'field list' at index 127
Error: Unknown column 'nan' in 'field list' at index 128
Error: Unknown column 'nan' in 'field list' at index 129
Error: Unknown column 'nan' in 'field list' at index 130
Error: Unknown column 'nan' in 'field list' at index 131
Error: Unknown column 'nan' in 'field list' at index 132
Error: Unknown column 'nan' in 'field list' at index 133
Error: Unknown column 'nan' in 'field list' at index 134
Error: Unknown column 'nan' in 'field list' at index 135
Error: Unknown column 'nan' in 'field list' at index 136
Error: Unknown column 'nan' in 'field list' at index 137
Error: Unknown column 'nan' in 'field list' at index 138
Error: Unknown column 'nan' in 'field list' at index 139
Error: Unknown column 'nan' in 'field list' at index 140
Error: Unknown column 'nan' in 'field list' at index 141
Error: Unknown column 'nan' in 'field list' at index 142
Error: Unknown column 'nan' in 'field list' at index 143
Error: Unknown column 'nan' in 'field list' at index 144
Error: Unknown column 'nan' in 'field list' at index 145
Error: Unknown column 'nan' in 'field list' at index 146
Error: Unknown column 'nan' in 'field list' at index 147
Error: Unknown column 'nan' in 'field list' at index 148
Error: Unknown column 'nan' in 'field list' at index 149
Error: Unknown column 'nan' in 'field list' at index 150
Error: Unknown column 'nan' in 'field list' at index 151
Error: Unknown column 'nan' in 'field list' at index 152
Error: Unknown column 'nan' in 'field list' at index 153
Error: Unknown column 'nan' in 'field list' at index 154
Error: Unknown column 'nan' in 'field list' at index 155
Error: Unknown column 'nan' in 'field list' at index 156
Error: Unknown column 'nan' in 'field list' at index 157
Error: Unknown column 'nan' in 'field list' at index 158
Error: Unknown column 'nan' in 'field list' at index 159
Error: Unknown column 'nan' in 'field list' at index 161
Error: Unknown column 'nan' in 'field list' at index 162
Error: Unknown column 'nan' in 'field list' at index 163
Error: Unknown column 'nan' in 'field list' at index 164
Error: Unknown column 'nan' in 'field list' at index 165
Error: Unknown column 'nan' in 'field list' at index 167
Error: Unknown column 'nan' in 'field list' at index 168
Error: Unknown column 'nan' in 'field list' at index 169
Error: Unknown column 'nan' in 'field list' at index 170
Error: Unknown column 'nan' in 'field list' at index 171
Error: Unknown column 'nan' in 'field list' at index 172
Error: Unknown column 'nan' in 'field list' at index 174
Error: Unknown column 'nan' in 'field list' at index 176
Error: Unknown column 'nan' in 'field list' at index 177
Error: Unknown column 'nan' in 'field list' at index 178
Error: Unknown column 'nan' in 'field list' at index 179
Error: Unknown column 'nan' in 'field list' at index 181
Error: Unknown column 'nan' in 'field list' at index 182
Error: Unknown column 'nan' in 'field list' at index 184
Error: Unknown column 'nan' in 'field list' at index 185
Error: Unknown column 'nan' in 'field list' at index 186
Error: Unknown column 'nan' in 'field list' at index 187
Error: Unknown column 'nan' in 'field list' at index 189
Error: Unknown column 'nan' in 'field list' at index 191
Data insertion complete.

In [21]:
data.columns

Index(['Name', 'Currency', 'Type', 'Sub type', 'Market', 'ISIN Code',
       'Industry', 'SuperSector', 'Sector', 'Subsector',
       'Average training hours per employee', 'Number of female board members',
       'Number of board members', 'Market Cap in USD',
       'Carbon footprint (total GHG emissions / enterprise value)_in_USD',
       'Share of women in total workforce in %',
       'Share of women in management bodies in %', 'Gender pay gap in %',
       'Rate of employees with disabilities in %',
       'Board gender diversity (female board members / total board members) in %',
       'Total energy consumption in mwh', 'Rate of resignation in %'],
      dtype='object')

In [22]:
data

,Name,Currency,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector,...,Number of board members,Market Cap in USD,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels",...,13.0,1.033192e+10,572.631900,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals",...,14.0,1.051361e+11,NaN,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace",...,12.0,1.361650e+11,NaN,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel",...,10.0,2.175417e+10,3373.201000,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",...,16.0,8.254087e+10,2.717800,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts","40101020, Automobiles",...,11.0,8.246704e+10,6858.244394,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment","10102010, Semiconductors",...,9.0,3.663359e+10,27.984900,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services",...,15.0,3.591990e+09,133.632300,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity",...,13.0,1.562735e+10,141.369684,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",...,15.0,6.241310e+09,509.708945,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027