In [47]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None 

# Load the data file
file_path = '/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/Group8__ImholzA_AntonB_GonzalezC/Imholz_Chris_studentA/Data/Imholz_Chris_studentA_stage1.csv'
data = pd.read_csv(file_path, delimiter=';')


# Display general information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 29 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Name                                                                 187 non-null    object
 1   Currency                                                             187 non-null    object
 2   Market Cap                                                           187 non-null    object
 3   CDP                                                                  19 non-null     object
 4   FTSE4Good                                                            4 non-null      object
 5   MSCI ESG Ratings                                                     4 non-null      object
 6   Moody's ESG Solution                                                 2 non-null      object
 7   Sustainalytics                                                       27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)            119 non-null    object
 9   Share of women in total workforce                                    157 non-null    object
 10  Rate of resignation                                                  57 non-null     object
 11  Type                                                                 187 non-null    object
 12  Sub type                                                             187 non-null    object
 13  Market                                                               187 non-null    object
 14  ISIN Code                                                            187 non-null    object
 15  Industry                                                             187 non-null    object
 16  SuperSector                                                          187 non-null    object
 17  Sector                                                               187 non-null    object
 18  Subsector                                                            187 non-null    object
 19  Share of women in management bodies                                  135 non-null    object
 20  Gender pay gap                                                       59 non-null     object
 21  Professional equality index                                          28 non-null     object
 22  Rate of employees with disabilities                                  60 non-null     object
 23  Average training hours per employee                                  121 non-null    object
 24  Board gender diversity (female board members / total board members)  168 non-null    object
 25  Number of female board members                                       168 non-null    object
 26  Number of board members                                              168 non-null    object
 27  Total energy consumption                                             140 non-null    object
 28   Ratio of non-recycledÂ waste                                         0 non-null      float64
dtypes: float64(1), object(28)
memory usage: 43.6+ KB

In [48]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Ratio of non-recycledÂ waste
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",NaN
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,NaN
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",NaN
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",NaN
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",NaN

In [49]:
# Count rows where all elements are NaN
empty_rows_count = data.isna().all(axis=1).sum()
print("Number of completely empty rows:", empty_rows_count)

# Check for rows that are completely empty and drop them
data = data.dropna(how='all', axis=0)
data

Number of completely empty rows: 5

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Ratio of non-recycledÂ waste
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",NaN
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,NaN
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",NaN
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",NaN
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,77.072B,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,...,%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh",NaN
186,STMICROELECTRONICS,EUR,34.237B,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,...,%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule",NaN
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",NaN
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",NaN
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",NaN

In [50]:
# Helper function to convert Market Cap to numeric
# Example exchange rates to USD: Google 18 Apr, 13:08 UTC
exchange_rates = {
'EUR': 1.07,
'GBP': 1.25,
'NOK': 0.091,
'USD': 1
}

def expand_number(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().upper()
    if value.endswith('B'):
        value =  float(value[:-1]) * 1e9  # Convert billions to a numeric value
    elif value.endswith('M'):
        value =  float(value[:-1]) * 1e6  # Convert millions to a numeric value
    elif value.endswith('K'):
        value =  float(value[:-1]) * 1e3  # Convert thousands to a numeric value
    else:
        value = float(value)  # Handle numeric-only strings as is
    return round(value,3)

def convert_to_usd(currency, amount):
    if pd.isna(amount):
        return np.nan
    return amount * exchange_rates[currency]

def process_market_cap(row):
    # Expand the amount to a complete number
    full_amount = expand_number(row['Market Cap'])
    # Convert the currency to USD
    amount_in_usd = convert_to_usd(row['Currency'], full_amount)
    return amount_in_usd

data['Market Cap in USD'] = data.apply(process_market_cap, axis=1)
data = data.drop(columns='Market Cap')

In [51]:
def parse_and_convert_tons_currency(value):
    # Checks for NaN values
    if pd.isna(value) or value == '':
        return None
    
    parts = value.split(' ')
    
    if len(parts) < 5:
        return None

    # Extracts the amount, the unit and the currency
    if parts[0].replace(',', '') == '':
        return None
    else:
        amount = float(parts[0].replace(',', ''))
    
    unit = parts[2]
    currency = parts[4].strip('()')

    # Converts thousands to millions if necessary
    if unit == 'Thousand':
        amount /= 1000

    # Converts the amount to USD if it is not already in USD
    if currency != 'USD':
        amount *= round(float(exchange_rates.get(currency,1)),3)

    return amount

# Anwendung der Funktion
data['Carbon footprint (total GHG emissions / enterprise value)' + '_in_USD'] = data['Carbon footprint (total GHG emissions / enterprise value)'].apply(parse_and_convert_tons_currency)
data = data.drop('Carbon footprint (total GHG emissions / enterprise value)',axis='columns')
data

,Name,Currency,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Share of women in total workforce,Rate of resignation,Type,...,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Ratio of non-recycledÂ waste,Market Cap in USD,Carbon footprint (total GHG emissions / enterprise value)_in_USD
0,ACCOR,EUR,NaN,NaN,NaN,NaN,NaN,%,%,Stock,...,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",NaN,1.033192e+10,572.631900
1,AIR LIQUIDE,EUR,NaN,NaN,NaN,NaN,NaN,28%,8.60%,Stock,...,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,NaN,1.051361e+11,NaN
2,AIRBUS SE,EUR,NaN,NaN,NaN,NaN,NaN,20%,NaN,Stock,...,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",NaN,1.361650e+11,NaN
3,ARCELORMITTAL SA,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stock,...,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",NaN,2.175417e+10,3373.201000
4,AXA,EUR,NaN,NaN,NaN,NaN,NaN,NaN,10%,Stock,...,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",NaN,8.254087e+10,2.717800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,NaN,NaN,NaN,NaN,NaN,%,%,Stock,...,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh",NaN,8.246704e+10,6858.244394
186,STMICROELECTRONICS,EUR,NaN,NaN,NaN,NaN,NaN,%,%,Stock,...,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule",NaN,3.663359e+10,27.984900
187,TELECOM ITALIA,EUR,NaN,NaN,NaN,NaN,NaN,38%,NaN,Stock,...,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",NaN,3.591990e+09,133.632300
189,TERNA,EUR,NaN,NaN,NaN,NaN,NaN,16.08%,1.80%,Stock,...,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",NaN,1.562735e+10,141.369684
191,UNIPOL,EUR,NaN,NaN,NaN,NaN,NaN,54.30%,2.70%,Stock,...,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",NaN,6.241310e+09,509.708945

In [52]:
# Helper function to convert percentage strings to floats
def convert_percentage(value):
    if pd.isna(value) or value.strip('% ') == '':
        return np.nan
    return round(float(value.strip('% ')) / 100,3)

def unit_strip(value):
    if pd.isna(value) or value.strip('unit') == '':
        return np.nan
    elif value.replace('unit', '') == " ":
        return np.nan
    return float(value.replace('unit', ''))

import re
def convert_to_mwh(value):
    conversion_factors = {
    'GWh': 1000,
    'terajoule': 277.778,
    'gigajoule': 0.277778,
    'MWh': 1
    }
    match = re.search(r'([\d,]+(?:\.\d+)?)\s*(GWh|MWh|terajoule|gigajoule)', str(value).replace(',', ''))
    if match:
        # Convert string value to float
        value = float(match.group(1).replace(',', ''))
        unit = match.group(2)
        return round(value * conversion_factors[unit],3) # Convert the value to MWh

# Convert percentages
data['Share of women in total workforce in %'] = data['Share of women in total workforce'].apply(convert_percentage)
data = data.drop("Share of women in total workforce",axis='columns')
data['Share of women in management bodies in %'] = data['Share of women in management bodies'].apply(convert_percentage)
data = data.drop('Share of women in management bodies',axis='columns')
data['Gender pay gap in %'] = data['Gender pay gap'].apply(convert_percentage)
data = data.drop('Gender pay gap',axis='columns')
data['Rate of employees with disabilities in %'] = data['Rate of employees with disabilities'].apply(convert_percentage)
data = data.drop('Rate of employees with disabilities',axis='columns')
data['Board gender diversity (female board members / total board members) in %'] = data['Board gender diversity (female board members / total board members)'].apply(convert_percentage)
data = data.drop('Board gender diversity (female board members / total board members)',axis='columns')
data['Rate of resignation in %'] = data['Rate of resignation'].apply(convert_percentage)
data = data.drop('Rate of resignation', axis='columns')

#Strip the units
data['Professional equality index'] = data['Professional equality index'].apply(unit_strip)
data['Number of female board members'] = data['Number of female board members'].apply(unit_strip)
data['Number of board members'] = data['Number of board members'].apply(unit_strip)
data['Average training hours per employee'] = data['Average training hours per employee'].apply(unit_strip)

#Convert to Mwh
data['Total energy consumption in mwh'] = data['Total energy consumption'].apply(convert_to_mwh)
data = data.drop('Total energy consumption', axis='columns')

data

,Name,Currency,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Type,Sub type,Market,...,Ratio of non-recycledÂ waste,Market Cap in USD,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Rate of resignation in %,Total energy consumption in mwh
0,ACCOR,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,NaN,1.033192e+10,572.631900,NaN,NaN,NaN,NaN,0.615,NaN,1.371200e+07
1,AIR LIQUIDE,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,NaN,1.051361e+11,NaN,0.280,0.300,NaN,0.045,0.357,0.086,NaN
2,AIRBUS SE,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,NaN,1.361650e+11,NaN,0.200,NaN,NaN,NaN,0.333,NaN,3.717000e+06
3,ARCELORMITTAL SA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,...,NaN,2.175417e+10,3373.201000,NaN,0.157,NaN,NaN,0.300,NaN,3.866670e+08
4,AXA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,...,NaN,8.254087e+10,2.717800,NaN,0.353,NaN,0.007,0.563,0.100,2.236380e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,NaN,8.246704e+10,6858.244394,NaN,NaN,NaN,NaN,0.273,NaN,1.549489e+07
186,STMICROELECTRONICS,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,NaN,3.663359e+10,27.984900,NaN,NaN,NaN,NaN,0.444,NaN,2.878880e+06
187,TELECOM ITALIA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,NaN,3.591990e+09,133.632300,0.380,0.280,NaN,0.030,0.400,NaN,2.671000e+06
189,TERNA,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,NaN,1.562735e+10,141.369684,0.161,0.237,0.19,NaN,0.461,0.018,2.578550e+05
191,UNIPOL,EUR,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,...,NaN,6.241310e+09,509.708945,0.543,0.162,0.09,NaN,0.400,0.027,1.474418e+05

In [53]:
# Calculate the percentage of missing values per column
missing_data = data.isnull().mean() * 100.00

# Display the percentage of missing data per column
missing_data_sorted = missing_data.sort_values(ascending=False)
missing_data_sorted

 Ratio of non-recycledÂ waste                                                100.000000
Moody's ESG Solution                                                         98.930481
FTSE4Good                                                                    97.860963
MSCI ESG Ratings                                                             97.860963
CDP                                                                          89.839572
Professional equality index                                                  88.770053
Sustainalytics                                                               85.561497
Gender pay gap in %                                                          74.866310
Rate of employees with disabilities in %                                     73.262032
Rate of resignation in %                                                     72.727273
Average training hours per employee                                          43.315508
Carbon footprint (total GHG emissions / enterprise value)_in_USD             38.502674
Total energy consumption in mwh                                              33.689840
Share of women in management bodies in %                                     33.155080
Share of women in total workforce in %                                       22.994652
Board gender diversity (female board members / total board members) in %     10.160428
Number of female board members                                               10.160428
Number of board members                                                      10.160428
Market Cap in USD                                                             0.000000
Name                                                                          0.000000
Currency                                                                      0.000000
Sector                                                                        0.000000
SuperSector                                                                   0.000000
Industry                                                                      0.000000
ISIN Code                                                                     0.000000
Market                                                                        0.000000
Sub type                                                                      0.000000
Type                                                                          0.000000
Subsector                                                                     0.000000
dtype: float64

In [54]:
# Find the columns where the percentage of missing data is greater than 80%
columns_to_drop = missing_data[missing_data > 80].index
# Delete these columns from the DataFrame
data.drop(columns=columns_to_drop, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187 entries, 0 to 191
Data columns (total 22 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Name                                                                      187 non-null    object
 1   Currency                                                                  187 non-null    object
 2   Type                                                                      187 non-null    object
 3   Sub type                                                                  187 non-null    object
 4   Market                                                                    187 non-null    object
 5   ISIN Code                                                                 187 non-null    object
 6   Industry                                                                  187 non-null    object
 7   SuperSector                                                               187 non-null    object
 8   Sector                                                                    187 non-null    object
 9   Subsector                                                                 187 non-null    object
 10  Average training hours per employee                                       106 non-null    float64
 11  Number of female board members                                            168 non-null    float64
 12  Number of board members                                                   168 non-null    float64
 13  Market Cap in USD                                                         187 non-null    float64
 14  Carbon footprint (total GHG emissions / enterprise value)_in_USD          115 non-null    float64
 15  Share of women in total workforce in %                                    144 non-null    float64
 16  Share of women in management bodies in %                                  125 non-null    float64
 17  Gender pay gap in %                                                       47 non-null     float64
 18  Rate of employees with disabilities in %                                  50 non-null     float64
 19  Board gender diversity (female board members / total board members) in %  168 non-null    float64
 20  Rate of resignation in %                                                  51 non-null     float64
 21  Total energy consumption in mwh                                           124 non-null    float64
dtypes: float64(12), object(10)
memory usage: 33.6+ KB

In [55]:
columns_to_drop

Index(['CDP', 'FTSE4Good', 'MSCI ESG Ratings', 'Moody's ESG Solution',
       'Sustainalytics', 'Professional equality index',
       ' Ratio of non-recycledÂ waste'],
      dtype='object')

In [56]:
data.columns

Index(['Name', 'Currency', 'Type', 'Sub type', 'Market', 'ISIN Code',
       'Industry', 'SuperSector', 'Sector', 'Subsector',
       'Average training hours per employee', 'Number of female board members',
       'Number of board members', 'Market Cap in USD',
       'Carbon footprint (total GHG emissions / enterprise value)_in_USD',
       'Share of women in total workforce in %',
       'Share of women in management bodies in %', 'Gender pay gap in %',
       'Rate of employees with disabilities in %',
       'Board gender diversity (female board members / total board members) in %',
       'Rate of resignation in %', 'Total energy consumption in mwh'],
      dtype='object')

In [57]:
#Save DataFrame to a CSV file with semicolon as the delimiter with the required _stage2.csv ending form project
data.to_csv('/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/Group8__ImholzA_AntonB_GonzalezC/Imholz_Chris_studentA/Data/Imholz_Chris_studentA_stage3.csv', sep=';', index=False)
# data.to_csv('/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/data/clean_data_stage3/Imholz_Chris_studentA_stage3.csv', sep=';', index=False)

In [58]:
# # Create Maria DBtable 
# CREATE TABLE tbl_financial_euronext_data (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     name VARCHAR(255),
#     currency VARCHAR(255),
#     market_cap_in_USD FLOAT,
#     carbon_footprint_total_GHG_emissions_per_enterprise_value FLOAT,
#     security_type VARCHAR(255),
#     security_type_subtype VARCHAR(255),
#     market VARCHAR(255),
#     isin VARCHAR(20),
#     industry VARCHAR(255),
#     super_sector VARCHAR(255),
#     sector VARCHAR(255),
#     subsector VARCHAR(255),
#     average_training_hours_per_employee FLOAT,
#     number_of_female_board_members INT
#     number_of_board_members INT,
#     share_of_woman_in_total_workforce_in_percent FLOAT,
#     share_of_woman_in_management_bodies_in_percent FLOAT
#     gender_pay_gap_in_percent FLOAT,
#     rate_of_employees_with_disabilities_in_percent FLOAT,
#     board_gender_diversity_in_percent FLOAT,
#     total_energy_consumption_in_mwh FLOAT,
#     rate_of_resignation_in_percent FLOAT,
# );

In [59]:
import mariadb
import sys
import pandas as pd


data = data.where(pd.notnull(data), '')
# Verbindung zur Datenbank herstellen
try:
    conn = mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1",
        port=3306,
        database="CIP"
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

conn.autocommit = False
cur = conn.cursor()

# Daten in die Datenbank einfÃ¼gen
errors = []
for index, row in data.iterrows():
    query = """
    INSERT INTO tbl_financial_euronext_data
    (name, currency, market_cap_in_USD, carbon_footprint_total_GHG_emissions_per_enterprise_value, security_type, security_type_subtype, market, isin, industry, super_sector, sector, subsector, average_training_hours_per_employee, number_of_female_board_members, number_of_board_members, share_of_woman_in_total_workforce_in_percent, share_of_woman_in_management_bodies_in_percent, gender_pay_gap_in_percent, rate_of_employees_with_disabilities_in_percent, board_gender_diversity_in_percent, total_energy_consumption_in_mwh, rate_of_resignation_in_percent) 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    try:
        cur.execute(query, (
            row['Name'],
            row['Currency'],
            row['Market Cap in USD'],
            row['Carbon footprint (total GHG emissions / enterprise value)_in_USD'],
            row['Type'],
            row['Sub type'],
            row['Market'],
            row['ISIN Code'],
            row['Industry'],
            row['SuperSector'],
            row['Sector'],
            row['Subsector'],
            row['Average training hours per employee'],
            row['Number of female board members'],
            row['Number of board members'],
            row['Share of women in total workforce in %'],
            row['Share of women in management bodies in %'],
            row['Gender pay gap in %'],
            row['Rate of employees with disabilities in %'],
            row['Board gender diversity (female board members / total board members) in %'],
            row['Total energy consumption in mwh'],
            row['Rate of resignation in %']
        ))
    except mariadb.Error as e:
        errors.append(f"Error: {e} at index {index}")
        continue

# Ãnderungen bestÃ¤tigen und Verbindung schlieÃen
conn.commit()


# Fehler und Erfolgsmeldung ausgeben
if errors:
    print(f"Es gab {len(errors)} Fehler beim EinfÃ¼gen der Daten.")
for error in errors:
    print(error)
print("Data insertion complete.")

Data insertion complete.

In [60]:
try:
    queries = ["SELECT name FROM tbl_financial_euronext_data", "SELECT count(*) FROM tbl_financial_euronext_data"]
    for i in queries:
            cur.execute(i)
            for name in cur:
                print(name)
except mariadb.Error as e:
    print(f"Error: {e}")
finally:
    conn.close()

('ACCOR',)
('AIR LIQUIDE',)
('AIRBUS SE',)
('ARCELORMITTAL SA',)
('AXA',)
('BNP PARIBAS ACT.A',)
('BOUYGUES',)
('CAPGEMINI',)
('CARREFOUR',)
('CREDIT AGRICOLE',)
('DANONE',)
('DASSAULT SYSTEMES',)
('EDENRED',)
('ENGIE',)
('ESSILORLUXOTTICA',)
('EUROFINS SCIENT.',)
('HERMES INTL',)
('KERING',)
("L'OREAL",)
('LEGRAND',)
('LVMH',)
('MICHELIN',)
('ORANGE',)
('PERNOD RICARD',)
('PUBLICIS GROUPE SA',)
('RENAULT',)
('SAFRAN',)
('SAINT GOBAIN',)
('SANOFI',)
('SCHNEIDER ELECTRIC SE',)
('SOCIETE GENERALE',)
('STELLANTIS NV',)
('STMICROELECTRONICS',)
('TELEPERFORMANCE',)
('THALES',)
('TOTALENERGIES',)
('UNIBAIL-RODAMCO-WESTFIELD',)
('VEOLIA ENVIRON.',)
('VINCI',)
('VIVENDI SE',)
('ABN AMRO BANK N.V.',)
('ADYEN',)
('AEGON',)
('KONINKLIJKE AHOLD DELHAIZE N.V.',)
('AKZO NOBEL',)
('ARCELORMITTAL SA',)
('ASM International N.V.',)
('ASML HOLDING',)
('ASR NEDERLAND',)
('BE Semiconductor Industries N.V.',)
('DSM FIRMENICH AG',)
('EXOR',)
('HEINEKEN',)
('IMCD',)
('ING GROEP N.V.',)
('KPN KON',)
('NN GROUP',)
('KON.PHILIPS N.V.',)
('PROSUS',)
('Randstad N.V.',)
('RELX',)
('SHELL PLC',)
('UNIVERSAL MUSIC GROUP',)
('UNILEVER PLC',)
('WOLTERS KLUWER',)
('AB INBEV',)
('ACKERMANS V.HAAREN',)
('AEDIFICA',)
('AGEAS',)
('ARGENX SE',)
('COFINIMMO',)
("D'IETEREN GROUP",)
('ELIA GROUP',)
('GALAPAGOS',)
('GBL',)
('KBC',)
('LOTUS BAKERIES',)
('MELEXIS',)
('SOFINA',)
('SOLVAY',)
('SYENSQO',)
('UCB',)
('UMICORE',)
('WAREHOUSES DE PAUW',)
('ALTRI SGPS',)
('B.C.P.-BCO COMERCIAL PORTUGUES',)
('Corticeira Amorim-SGPS',)
('CTT-CORREIOS DE PORTUGAL, SA',)
('EDP',)
('EDP RENOVAVEIS',)
('GALP ENERGIA-NOM',)
('GREENVOLT ENERGIAS RENOVAVEIS S.A.',)
('Ibersol-SGPS',)
('J.MARTINS,SGPS',)
('MOTA ENGIL',)
('NOS, SGPS, SA',)
('REN',)
('SEMAPA',)
('SONAE',)
('THE NAVIGATOR COMP',)
('AIB GROUP PLC',)
('BANK OF IRELAND GROUP PLC',)
('CAIRN HOMES PLC',)
('CORRE ENERGY B.V.',)
('CRH PLC',)
('DALATA HOTEL GROUP PLC',)
('DATALEX PLC',)
('DONEGAL INVESTMENT GROUP PLC',)
('FBD HOLDINGS PLC',)
('FD TECHNOLOGIES PLC',)
('GLANBIA PLC',)
('GLENVEAGH PROPERTIES PLC',)
('GREAT WESTERN MINING CORPORATION PLC',)
('GREENCOAT RENEWABLES PLC',)
('IRISH CONTINENTAL GROUP PLC',)
('IRISH RESIDENTIAL PROPERTIES REIT PLC',)
('KENMARE RESOURCES PLC',)
('KERRY GROUP PLC',)
('KINGSPAN GROUP PLC',)
('MALIN CORPORATION PLC',)
('MINCON GROUP PLC',)
('ORIGIN ENTERPRISES PLC',)
('OVOCA BIO PLC',)
('PERMANENT TSB GROUP HOLDINGS PLC',)
('RYANAIR HOLDINGS PLC',)
('SMURFIT KAPPA GROUP PLC',)
('UNIPHAR PLC',)
('AKER BP',)
('BW LPG',)
('DNB BANK ASA',)
('EQUINOR',)
('FRONTLINE PLC',)
('GOLDEN OCEAN GROUP',)
('HAFNIA LIMITED',)
('HOEGH AUTOLINERS ASA',)
('KONGSBERG GRUPPEN',)
('MOWI',)
('MPC CONTAINER SHIPS',)
('NEL',)
('NORDIC SEMICONDUCTOR',)
('NORSK HYDRO',)
('NORWEGIAN AIR SHUTTLE',)
('ORKLA',)
('PGS',)
('SALMAR',)
('STOREBRAND',)
('SUBSEA 7',)
('TELENOR',)
('TGS ASA',)
('TOMRA SYSTEMS',)
('VÃR ENERGI ASA',)
('YARA INTERNATIONAL',)
('A2A',)
('AMPLIFON',)
('AZIMUT',)
('BANCA GENERALI',)
('BANCA MEDIOLANUM',)
('BANCO BPM',)
('BPER BANCA',)
('BUZZI',)
('CNH INDUSTRIAL',)
('DIASORIN',)
('ENEL',)
('ENI',)
('ERG',)
('FINECOBANK',)
('GENERALI ASS',)
('HERA',)
('INTERPUMP GROUP',)
('INTESA SANPAOLO',)
('INWIT',)
('ITALGAS',)
('IVECO GROUP',)
('LEONARDO',)
('MEDIOBANCA',)
('MONCLER',)
('NEXI',)
('PIRELLI & C',)
('POSTE ITALIANE',)
('PRYSMIAN',)
('RECORDATI ORD',)
('SNAM',)
('STELLANTIS',)
('STMICROELECTRONICS',)
('TELECOM ITALIA',)
('TERNA',)
('UNIPOL',)
(187,)

In [61]:
data.shape[0]

187