In [1]:
import pandas as pd
import numpy as np
import logging

# Load the data file<
file_path = '/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/data/raw_data/Imholz_Chris_studentA_stage1.csv'
data = pd.read_csv(file_path, delimiter=';')


# Display the first few rows of the dataframe and the general information
data.head()
data.info()

FileNotFoundError: [Errno 2] No such file or directory: '/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/data/clean_data/scraped_shares_extendedESG_data2.csv'

In [ ]:
data

In [44]:
# Check for columns that are completely empty and drop them
data_not_empty_columns = data.dropna(how='all', axis=1)

# Show the columns removed (if any)
data_not_empty_columns.columns.difference(data.columns)
data=data_not_empty_columns

# Updated DataFrame info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 28 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Name                                                                 187 non-null    object
 1   Currency                                                             181 non-null    object
 2   Market Cap                                                           181 non-null    object
 3   CDP                                                                  19 non-null     object
 4   FTSE4Good                                                            4 non-null      object
 5   MSCI ESG Ratings                                                     4 non-null      object
 6   Moody's ESG Solution                                                 2 non-null      object
 7   Sustainalytics                                                       27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)            119 non-null    object
 9   Share of women in total workforce                                    157 non-null    object
 10  Rate of resignation                                                  57 non-null     object
 11  Type                                                                 187 non-null    object
 12  Sub type                                                             187 non-null    object
 13  Market                                                               187 non-null    object
 14  ISIN Code                                                            187 non-null    object
 15  Industry                                                             187 non-null    object
 16  SuperSector                                                          187 non-null    object
 17  Sector                                                               187 non-null    object
 18  Subsector                                                            187 non-null    object
 19  Share of women in management bodies                                  135 non-null    object
 20  Gender pay gap                                                       59 non-null     object
 21  Professional equality index                                          28 non-null     object
 22  Rate of employees with disabilities                                  60 non-null     object
 23  Average training hours per employee                                  121 non-null    object
 24  Board gender diversity (female board members / total board members)  168 non-null    object
 25  Number of female board members                                       168 non-null    object
 26  Number of board members                                              168 non-null    object
 27  Total energy consumption                                             140 non-null    object
dtypes: object(28)
memory usage: 42.1+ KB

In [45]:
# Count rows where all elements are NaN
empty_rows_count = data.isna().all(axis=1).sum()
print("Number of completely empty rows:", empty_rows_count)

# Check for rows that are completely empty and drop them
data = data.dropna(how='all', axis=0)
data

Number of completely empty rows: 5

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Subsector,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,"40501025, Hotels and Motels",%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh"
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,"55201020, Specialty Chemicals",30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,"50201010, Aerospace",NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh"
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,"55102010, Iron and Steel",15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule"
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,"30302010, Full Line Insurance",35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,77.072B,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,...,"40101020, Automobiles",%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh"
186,STMICROELECTRONICS,EUR,34.237B,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,...,"10102010, Semiconductors",%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule"
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,"15102015, Telecommunications Services",28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh"
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,"65101015, Conventional Electricity",23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule"
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,"30302010, Full Line Insurance",16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule"

In [46]:
# Helper function to convert Market Cap to numeric
def convert_market_cap(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().upper()
    if value.endswith('B'):
        value =  float(value[:-1]) * 1e9  # Convert billions to a numeric value
    elif value.endswith('M'):
        value =  float(value[:-1]) * 1e6  # Convert millions to a numeric value
    elif value.endswith('K'):
        value =  float(value[:-1]) * 1e3  # Convert thousands to a numeric value
    else:
        value = float(value)  # Handle numeric-only strings as is
    return round(value,3)
    
# Apply conversions
data['Market Cap'] = data['Market Cap'].apply(convert_market_cap)
data

/tmp/ipykernel_6116/3159644454.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Market Cap'] = data['Market Cap'].apply(convert_market_cap)

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Subsector,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption
0,ACCOR,EUR,9.656000e+09,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,"40501025, Hotels and Motels",%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh"
1,AIR LIQUIDE,EUR,9.825800e+10,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,"55201020, Specialty Chemicals",30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh
2,AIRBUS SE,EUR,1.272570e+11,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,"50201010, Aerospace",NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh"
3,ARCELORMITTAL SA,EUR,2.033100e+10,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,"55102010, Iron and Steel",15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule"
4,AXA,EUR,7.714100e+10,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,"30302010, Full Line Insurance",35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,...,"40101020, Automobiles",%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh"
186,STMICROELECTRONICS,EUR,3.423700e+10,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,...,"10102010, Semiconductors",%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule"
187,TELECOM ITALIA,EUR,3.357000e+09,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,"15102015, Telecommunications Services",28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh"
189,TERNA,EUR,1.460500e+10,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,"65101015, Conventional Electricity",23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule"
191,UNIPOL,EUR,5.833000e+09,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,"30302010, Full Line Insurance",16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule"

In [47]:
def parse_and_convert_tons_currency(value):
    # Beispiel-Wechselkurse zu USD: Google 18. Apr., 13:08 UTC
    exchange_rates = {
    'EUR': 1.07,
    'GBP': 1.25,
    'NOK': 0.091 
    }
    # PrÃ¼ft auf NaN Werte
    if pd.isna(value) or value == '':
        return None
    
    parts = value.split(' ')
    
    if len(parts) < 5:
        return None

    # Extrahiert den Betrag, die Einheit und die WÃ¤hrung
    if parts[0].replace(',', '') == '':
        amount =  0
    else:
        amount = float(parts[0].replace(',', ''))
    
    unit = parts[2]
    currency = parts[4].strip('()')

    # Konvertiert Tausend in Millionen, falls nÃ¶tig
    if unit == 'Thousand':
        amount /= 1000

    # Wandelt den Betrag in USD um, falls er nicht bereits in USD ist
    if currency != 'USD':
        amount *= round(float(exchange_rates.get(currency,1)),3)

    return amount

# Anwendung der Funktion
data['Carbon footprint (total GHG emissions / enterprise value)' + '_in_USD'] = data['Carbon footprint (total GHG emissions / enterprise value)'].apply(parse_and_convert_tons_currency)
data = data.drop('Carbon footprint (total GHG emissions / enterprise value)',axis='columns')
data

/tmp/ipykernel_6116/1027105031.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Carbon footprint (total GHG emissions / enterprise value)' + '_in_USD'] = data['Carbon footprint (total GHG emissions / enterprise value)'].apply(parse_and_convert_tons_currency)

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Share of women in total workforce,Rate of resignation,...,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Carbon footprint (total GHG emissions / enterprise value)_in_USD
0,ACCOR,EUR,9.656000e+09,NaN,NaN,NaN,NaN,NaN,%,%,...,%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",572.631900
1,AIR LIQUIDE,EUR,9.825800e+10,NaN,NaN,NaN,NaN,NaN,28%,8.60%,...,30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,NaN
2,AIRBUS SE,EUR,1.272570e+11,NaN,NaN,NaN,NaN,NaN,20%,NaN,...,NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",NaN
3,ARCELORMITTAL SA,EUR,2.033100e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",3373.201000
4,AXA,EUR,7.714100e+10,NaN,NaN,NaN,NaN,NaN,NaN,10%,...,35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",2.717800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,NaN,NaN,NaN,NaN,NaN,%,%,...,%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh",6858.244394
186,STMICROELECTRONICS,EUR,3.423700e+10,NaN,NaN,NaN,NaN,NaN,%,%,...,%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule",27.984900
187,TELECOM ITALIA,EUR,3.357000e+09,NaN,NaN,NaN,NaN,NaN,38%,NaN,...,28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",133.632300
189,TERNA,EUR,1.460500e+10,NaN,NaN,NaN,NaN,NaN,16.08%,1.80%,...,23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",141.369684
191,UNIPOL,EUR,5.833000e+09,NaN,NaN,NaN,NaN,NaN,54.30%,2.70%,...,16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",509.708945

In [48]:
# Helper function to convert percentage strings to floats
def convert_percentage(value):
    if pd.isna(value) or value.strip('% ') == '':
        return np.nan
    return round(float(value.strip('% ')) / 100,3)

def unit_strip(value):
    if pd.isna(value) or value.strip('unit') == '':
        return np.nan
    elif value.replace('unit', '') == " ":
        return np.nan
    return float(value.replace('unit', ''))

import re
def convert_to_mwh(value):
    conversion_factors = {
    'GWh': 1000,
    'terajoule': 277.778,
    'gigajoule': 0.277778,
    'MWh': 1
    }
    match = re.search(r'([\d,]+(?:\.\d+)?)\s*(GWh|MWh|terajoule|gigajoule)', str(value).replace(',', ''))
    if match:
        # Convert string value to float
        value = float(match.group(1).replace(',', ''))
        unit = match.group(2)
        return round(value * conversion_factors[unit],3) # Convert the value to MWh

# Apply conversions
data['Share of women in total workforce in %'] = data['Share of women in total workforce'].apply(convert_percentage)
data = data.drop("Share of women in total workforce",axis='columns')
data['Share of women in management bodies in %'] = data['Share of women in management bodies'].apply(convert_percentage)
data = data.drop('Share of women in management bodies',axis='columns')
data['Gender pay gap in %'] = data['Gender pay gap'].apply(convert_percentage)
data = data.drop('Gender pay gap',axis='columns')
data['Rate of employees with disabilities in %'] = data['Rate of employees with disabilities'].apply(convert_percentage)
data = data.drop('Rate of employees with disabilities',axis='columns')
data['Board gender diversity (female board members / total board members) in %'] = data['Board gender diversity (female board members / total board members)'].apply(convert_percentage)
data = data.drop('Board gender diversity (female board members / total board members)',axis='columns')
data['Professional equality index'] = data['Professional equality index'].apply(unit_strip)
data['Number of female board members'] = data['Number of female board members'].apply(unit_strip)
data['Number of board members'] = data['Number of board members'].apply(unit_strip)
data['Average training hours per employee'] = data['Average training hours per employee'].apply(unit_strip)
data['Total energy consumption in mwh'] = data['Total energy consumption'].apply(convert_to_mwh)
data = data.drop('Total energy consumption', axis='columns')
data['Rate of resignation in %'] = data['Rate of resignation'].apply(convert_percentage)
data = data.drop('Rate of resignation', axis='columns')
data

# Transformed data
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187 entries, 0 to 191
Data columns (total 28 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Name                                                                      187 non-null    object
 1   Currency                                                                  181 non-null    object
 2   Market Cap                                                                181 non-null    float64
 3   CDP                                                                       19 non-null     object
 4   FTSE4Good                                                                 4 non-null      object
 5   MSCI ESG Ratings                                                          4 non-null      object
 6   Moody's ESG Solution                                                      2 non-null      object
 7   Sustainalytics                                                            27 non-null     object
 8   Type                                                                      187 non-null    object
 9   Sub type                                                                  187 non-null    object
 10  Market                                                                    187 non-null    object
 11  ISIN Code                                                                 187 non-null    object
 12  Industry                                                                  187 non-null    object
 13  SuperSector                                                               187 non-null    object
 14  Sector                                                                    187 non-null    object
 15  Subsector                                                                 187 non-null    object
 16  Professional equality index                                               21 non-null     float64
 17  Average training hours per employee                                       106 non-null    float64
 18  Number of female board members                                            168 non-null    float64
 19  Number of board members                                                   168 non-null    float64
 20  Carbon footprint (total GHG emissions / enterprise value)_in_USD          119 non-null    float64
 21  Share of women in total workforce in %                                    144 non-null    float64
 22  Share of women in management bodies in %                                  125 non-null    float64
 23  Gender pay gap in %                                                       47 non-null     float64
 24  Rate of employees with disabilities in %                                  50 non-null     float64
 25  Board gender diversity (female board members / total board members) in %  168 non-null    float64
 26  Total energy consumption in mwh                                           124 non-null    float64
 27  Rate of resignation in %                                                  51 non-null     float64
dtypes: float64(13), object(15)
memory usage: 42.4+ KB

In [49]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Type,Sub type,...,Number of female board members,Number of board members,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,9.656000e+09,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,8.0,13.0,572.631900,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,9.825800e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,5.0,14.0,NaN,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,1.272570e+11,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,4.0,12.0,NaN,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,2.033100e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,3.0,10.0,3373.201000,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,7.714100e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,9.0,16.0,2.717800,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,3.0,11.0,6858.244394,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,3.423700e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,4.0,9.0,27.984900,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,3.357000e+09,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,6.0,15.0,133.632300,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,1.460500e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,6.0,13.0,141.369684,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,5.833000e+09,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,...,6.0,15.0,509.708945,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027

In [50]:
# Calculate the percentage of missing values per column
missing_data = data.isnull().mean() * 100.00

# Display the percentage of missing data per column
missing_data_sorted = missing_data.sort_values(ascending=False)
missing_data_sorted

Moody's ESG Solution                                                        98.930481
FTSE4Good                                                                   97.860963
MSCI ESG Ratings                                                            97.860963
CDP                                                                         89.839572
Professional equality index                                                 88.770053
Sustainalytics                                                              85.561497
Gender pay gap in %                                                         74.866310
Rate of employees with disabilities in %                                    73.262032
Rate of resignation in %                                                    72.727273
Average training hours per employee                                         43.315508
Carbon footprint (total GHG emissions / enterprise value)_in_USD            36.363636
Total energy consumption in mwh                                             33.689840
Share of women in management bodies in %                                    33.155080
Share of women in total workforce in %                                      22.994652
Board gender diversity (female board members / total board members) in %    10.160428
Number of board members                                                     10.160428
Number of female board members                                              10.160428
Currency                                                                     3.208556
Market Cap                                                                   3.208556
Name                                                                         0.000000
Subsector                                                                    0.000000
SuperSector                                                                  0.000000
Industry                                                                     0.000000
ISIN Code                                                                    0.000000
Market                                                                       0.000000
Sub type                                                                     0.000000
Type                                                                         0.000000
Sector                                                                       0.000000
dtype: float64

In [51]:
# Finden der Spalten, bei denen der Prozentsatz der fehlenden Daten grÃ¶ÃŸer als 80% ist
columns_to_drop = missing_data[missing_data > 80].index
# LÃ¶schen dieser Spalten aus dem DataFrame
data.drop(columns=columns_to_drop, inplace=True)
data

,Name,Currency,Market Cap,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,...,Number of female board members,Number of board members,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,9.656000e+09,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure",...,8.0,13.0,572.631900,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,9.825800e+10,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals",...,5.0,14.0,NaN,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,1.272570e+11,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense",...,4.0,12.0,NaN,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,2.033100e+10,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining",...,3.0,10.0,3373.201000,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,7.714100e+10,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance",...,9.0,16.0,2.717800,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts",...,3.0,11.0,6858.244394,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,3.423700e+10,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment",...,4.0,9.0,27.984900,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,3.357000e+09,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers",...,6.0,15.0,133.632300,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,1.460500e+10,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity",...,6.0,13.0,141.369684,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,5.833000e+09,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance",...,6.0,15.0,509.708945,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027

In [52]:
columns_to_drop

Index(['CDP', 'FTSE4Good', 'MSCI ESG Ratings', 'Moody's ESG Solution',
       'Sustainalytics', 'Professional equality index'],
      dtype='object')

In [53]:
data.columns

Index(['Name', 'Currency', 'Market Cap', 'Type', 'Sub type', 'Market',
       'ISIN Code', 'Industry', 'SuperSector', 'Sector', 'Subsector',
       'Average training hours per employee', 'Number of female board members',
       'Number of board members',
       'Carbon footprint (total GHG emissions / enterprise value)_in_USD',
       'Share of women in total workforce in %',
       'Share of women in management bodies in %', 'Gender pay gap in %',
       'Rate of employees with disabilities in %',
       'Board gender diversity (female board members / total board members) in %',
       'Total energy consumption in mwh', 'Rate of resignation in %'],
      dtype='object')

In [54]:
#Save DataFrame to a CSV file with semicolon as the delimiter with the required _stage2.csv ending form project
data.to_csv('/home/student/Cloud/Owncloud/SyncVM/CIP/hslu-cip/data/final_data/Imholz_Chris_studentA_stage3.csv', sep=';', index=False)

In [55]:
# Tabel erstellen 
#  CREATE TABLE tbl_financial_euronext_data (
#     name VARCHAR(255),
#     currency VARCHAR(50),
#     maket_cap FLOAT,
#     carbon_footprint_total_GHG_emissions_per_enterprise_value VARCHAR(255),
#     security_type VARCHAR(255),
#     security_type_subtype VARCHAR(255),
#     market VARCHAR(255),
#     isin VARCHAR(20) PRIMARY KEY,
#     industry VARCHAR(255),
#     super_sector VARCHAR(255),
#     sector VARCHAR(255),
#     subsector VARCHAR(255),
#     average_training_hours_per_employee FLOAT,
#     number_of_female_board_members FLOAT,
#     number_of_board_members FLOAT,
#     share_of_woman_in_total_workforce_in_percent FLOAT,
#     share_of_woman_in_management_bodies_in_percent FLOAT,
#     gender_pay_gap_in_percent FLOAT,
#     rate_of_employees_with_disabilities_in_percent FLOAT,
#     board_gender_diversity_in_percent FLOAT,
#     total_energy_consumption_in_mwh FLOAT,
#     rate_of_resignation_in_percent FLOAT
# );

In [56]:
data.count

<bound method DataFrame.count of                    Name Currency    Market Cap   Type         Sub type  \
0                 ACCOR      EUR  9.656000e+09  Stock  Ordinary Shares
1           AIR LIQUIDE      EUR  9.825800e+10  Stock  Ordinary Shares
2             AIRBUS SE      EUR  1.272570e+11  Stock  Ordinary Shares
3      ARCELORMITTAL SA      EUR  2.033100e+10  Stock  Ordinary Shares
4                   AXA      EUR  7.714100e+10  Stock  Ordinary Shares
..                  ...      ...           ...    ...              ...
185          STELLANTIS      EUR  7.707200e+10  Stock  Ordinary Shares
186  STMICROELECTRONICS      EUR  3.423700e+10  Stock  Ordinary Shares
187      TELECOM ITALIA      EUR  3.357000e+09  Stock  Ordinary Shares
189               TERNA      EUR  1.460500e+10  Stock  Ordinary Shares
191              UNIPOL      EUR  5.833000e+09  Stock  Ordinary Shares

                 Market     ISIN Code                    Industry  \
0        Euronext Paris  FR0000120404  40, Consumer Discretionary
1        Euronext Paris  FR0000120073         55, Basic Materials
2        Euronext Paris  NL0000235190             50, Industrials
3    Euronext Amsterdam  LU1598757687         55, Basic Materials
4        Euronext Paris  FR0000120628              30, Financials
..                  ...           ...                         ...
185      Euronext Milan  NL00150001Q9  40, Consumer Discretionary
186      Euronext Milan  NL0000226223              10, Technology
187      Euronext Milan  IT0003497168      15, Telecommunications
189      Euronext Milan  IT0003242622               65, Utilities
191      Euronext Milan  IT0004810054              30, Financials

                             SuperSector  \
0               4050, Travel and Leisure
1                        5520, Chemicals
2    5020, Industrial Goods and Services
3                  5510, Basic Resources
4                        3030, Insurance
..                                   ...
185          4010, Automobiles and Parts
186                     1010, Technology
187             1510, Telecommunications
189                      6510, Utilities
191                      3030, Insurance

                                           Sector  ...  \
0                      405010, Travel and Leisure  ...
1                               552010, Chemicals  ...
2                   502010, Aerospace and Defense  ...
3            551020, Industrial Metals and Mining  ...
4                      303020, Non-life Insurance  ...
..                                            ...  ...
185                 401010, Automobiles and Parts  ...
186     101020, Technology Hardware and Equipment  ...
187  151020, Telecommunications Service Providers  ...
189                           651010, Electricity  ...
191                    303020, Non-life Insurance  ...

    Number of female board members  Number of board members  \
0                              8.0                     13.0
1                              5.0                     14.0
2                              4.0                     12.0
3                              3.0                     10.0
4                              9.0                     16.0
..                             ...                      ...
185                            3.0                     11.0
186                            4.0                      9.0
187                            6.0                     15.0
189                            6.0                     13.0
191                            6.0                     15.0

     Carbon footprint (total GHG emissions / enterprise value)_in_USD  \
0                                           572.631900
1                                                  NaN
2                                                  NaN
3                                          3373.201000
4                                             2.717800
..                                                 ...
185                                        6858.244394
186                                          27.984900
187                                         133.632300
189                                         141.369684
191                                         509.708945

     Share of women in total workforce in %  \
0                                       NaN
1                                     0.280
2                                     0.200
3                                       NaN
4                                       NaN
..                                      ...
185                                     NaN
186                                     NaN
187                                   0.380
189                                   0.161
191                                   0.543

     Share of women in management bodies in %  Gender pay gap in %  \
0                                         NaN                  NaN
1                                       0.300                  NaN
2                                         NaN                  NaN
3                                       0.157                  NaN
4                                       0.353                  NaN
..                                        ...                  ...
185                                       NaN                  NaN
186                                       NaN                  NaN
187                                     0.280                  NaN
189                                     0.237                 0.19
191                                     0.162                 0.09

     Rate of employees with disabilities in %  \
0                                         NaN
1                                       0.045
2                                         NaN
3                                         NaN
4                                       0.007
..                                        ...
185                                       NaN
186                                       NaN
187                                     0.030
189                                       NaN
191                                       NaN

     Board gender diversity (female board members / total board members) in %  \
0                                                0.615
1                                                0.357
2                                                0.333
3                                                0.300
4                                                0.563
..                                                 ...
185                                              0.273
186                                              0.444
187                                              0.400
189                                              0.461
191                                              0.400

     Total energy consumption in mwh  Rate of resignation in %
0                       1.371200e+07                       NaN
1                                NaN                     0.086
2                       3.717000e+06                       NaN
3                       3.866670e+08                       NaN
4                       2.236380e+05                     0.100
..                               ...                       ...
185                     1.549489e+07                       NaN
186                     2.878880e+06                       NaN
187                     2.671000e+06                       NaN
189                     2.578550e+05                     0.018
191                     1.474418e+05                     0.027

[187 rows x 22 columns]>

In [70]:
import mariadb
import sys
try:
    conn = mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1", # 10.177.124.185, localhost ,
        port=3306,
        database="CIP"
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)
    
data = data.where(pd.notnull(data), None)   

conn.autocommit = False  # explizites Handling des Commits
# Get Cursor
cur = conn.cursor()

# Iterate over each row in the DataFrame
for index, row in data.iterrows():
    # Extract data from the DataFrame row using the new column names
    name = row['Name']
    currency = row['Currency']
    market_cap = row['Market Cap']
    carbon_footprint_total_GHG_emissions_per_enterprise_value = row['Carbon footprint (total GHG emissions / enterprise value)_in_USD']
    security_type = row['Type']  # Make sure this is the correct column name
    security_type_subtype = row['Sub type']  # Make sure this is the correct column name
    market = row['Market']
    isin = row['ISIN Code']
    industry = row['Industry']
    super_sector = row['SuperSector']
    sector = row['Sector']
    subsector = row['Subsector']
    average_training_hours_per_employee = row['Average training hours per employee']
    number_of_female_board_members = row['Number of female board members']
    number_of_board_members = row['Number of board members']
    share_of_woman_in_total_workforce_in_percent = row['Share of women in total workforce in %']
    share_of_woman_in_management_bodies_in_percent = row['Share of women in management bodies in %']
    gender_pay_gap_in_percent = row['Gender pay gap in %']
    rate_of_employees_with_disabilities_in_percent = row['Rate of employees with disabilities in %']
    board_gender_diversity_in_percent = row['Board gender diversity (female board members / total board members) in %']
    total_energy_consumption_in_mwh = row['Total energy consumption in mwh']
    rate_of_resignation_in_percent = row['Rate of resignation in %']
    
    # Prepare the INSERT query
    query = """
    INSERT INTO tbl_financial_euronext_data
    (name,
    currency,
    maket_cap,
    carbon_footprint_total_GHG_emissions_per_enterprise_value,
    security_type,
    security_type_subtype ,
    market,
    isin,
    industry,
    super_sector,
    sector,
    subsector,
    average_training_hours_per_employee,
    number_of_female_board_members,
    number_of_board_members,
    share_of_woman_in_total_workforce_in_percent,
    share_of_woman_in_management_bodies_in_percent,
    gender_pay_gap_in_percent,
    rate_of_employees_with_disabilities_in_percent,
    board_gender_diversity_in_percent,
    total_energy_consumption_in_mwh,
    rate_of_resignation_in_percent) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    # Attempt to execute the INSERT query
    try:
        cur.execute(query, (name,currency, market_cap, carbon_footprint_total_GHG_emissions_per_enterprise_value, security_type, security_type_subtype , market,isin, industry, super_sector, sector, subsector,average_training_hours_per_employee, number_of_female_board_members, number_of_board_members, share_of_woman_in_total_workforce_in_percent, share_of_woman_in_management_bodies_in_percent, gender_pay_gap_in_percent,rate_of_employees_with_disabilities_in_percent, board_gender_diversity_in_percent,total_energy_consumption_in_mwh, rate_of_resignation_in_percent))
    except mariadb.Error as e:
        print(f"Error: {e}")
        continue

# Commit changes to the database
conn.commit()

# Print success message
print("Data insertion complete.")

IndentationError: unexpected indent (851151333.py, line 77)

In [74]:
import mariadb
import pandas as pd
import sys

# Stellen Sie sicher, dass Ihr DataFrame 'data' korrekt geladen ist
# Beispiel: data = pd.read_csv('your_data.csv')

# Ersetzen Sie alle NaN-Werte durch None, um NULL in SQL zu ermÃ¶glichen
data = data.where(pd.notnull(data), None)

try:
    # Verwenden eines Kontextmanagers, um die Verbindung zu handhaben
    with mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1", # 10.177.124.185, localhost ,
        port=3306,
        database="CIP"
    ) as conn:
        # Automatisches Commit ist deaktiviert fÃ¼r die Transaktionskontrolle
        conn.autocommit = False
        cur = conn.cursor()

        # SQL-Query-String vorbereiten
        query = """
        INSERT INTO tbl_financial_euronext_data
        (name, currency, market_cap, carbon_footprint_total_GHG_emissions_per_enterprise_value,
         security_type, security_type_subtype, market, isin, industry, super_sector, sector, subsector,
         average_training_hours_per_employee, number_of_female_board_members, number_of_board_members,
         share_of_woman_in_total_workforce_in_percent, share_of_woman_in_management_bodies_in_percent,
         gender_pay_gap_in_percent, rate_of_employees_with_disabilities_in_percent,
         board_gender_diversity_in_percent, total_energy_consumption_in_mwh, rate_of_resignation_in_percent)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """

        # Daten in die Datenbank einfÃ¼gen
        for index, row in data.iterrows():
            try:
                cur.execute(query, (
                    row['Name'], row['Currency'], row['Market Cap'],
                    row['Carbon footprint (total GHG emissions / enterprise value)_in_USD'],
                    row['Type'], row['Sub type'], row['Market'], row['ISIN Code'],
                    row['Industry'], row['SuperSector'], row['Sector'], row['Subsector'],
                    row['Average training hours per employee'], row['Number of female board members'],
                    row['Number of board members'], row['Share of women in total workforce in %'],
                    row['Share of women in management bodies in %'], row['Gender pay gap in %'],
                    row['Rate of employees with disabilities in %'],
                    row['Board gender diversity (female board members / total board members) in %'],
                    row['Total energy consumption in mwh'], row['Rate of resignation in %']
                ))
            except mariadb.Error as e:
                print(f"Error inserting row {index}: {e}")

        # Commit der Transaktion
        conn.commit()
        print("Data insertion complete.")

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)
finally:
    cur.close()
    conn.close()

Error inserting row 0: Unknown column 'nan' in 'field list'
Error inserting row 1: Unknown column 'nan' in 'field list'
Error inserting row 2: Unknown column 'nan' in 'field list'
Error inserting row 3: Unknown column 'nan' in 'field list'
Error inserting row 4: Unknown column 'nan' in 'field list'
Error inserting row 5: Unknown column 'nan' in 'field list'
Error inserting row 6: Unknown column 'nan' in 'field list'
Error inserting row 7: Unknown column 'nan' in 'field list'
Error inserting row 8: Unknown column 'nan' in 'field list'
Error inserting row 9: Unknown column 'nan' in 'field list'
Error inserting row 10: Unknown column 'nan' in 'field list'
Error inserting row 11: Unknown column 'nan' in 'field list'
Error inserting row 12: Unknown column 'nan' in 'field list'
Error inserting row 13: Unknown column 'market_cap' in 'field list'
Error inserting row 14: Unknown column 'nan' in 'field list'
Error inserting row 15: Unknown column 'nan' in 'field list'
Error inserting row 16: Unknown column 'nan' in 'field list'
Error inserting row 17: Unknown column 'nan' in 'field list'
Error inserting row 18: Unknown column 'nan' in 'field list'
Error inserting row 19: Unknown column 'nan' in 'field list'
Error inserting row 20: Unknown column 'nan' in 'field list'
Error inserting row 21: Unknown column 'nan' in 'field list'
Error inserting row 22: Unknown column 'market_cap' in 'field list'
Error inserting row 23: Unknown column 'market_cap' in 'field list'
Error inserting row 24: Unknown column 'nan' in 'field list'
Error inserting row 25: Unknown column 'nan' in 'field list'
Error inserting row 26: Unknown column 'nan' in 'field list'
Error inserting row 27: Unknown column 'market_cap' in 'field list'
Error inserting row 28: Unknown column 'nan' in 'field list'
Error inserting row 29: Unknown column 'nan' in 'field list'
Error inserting row 30: Unknown column 'nan' in 'field list'
Error inserting row 31: Unknown column 'nan' in 'field list'
Error inserting row 32: Unknown column 'nan' in 'field list'
Error inserting row 33: Unknown column 'nan' in 'field list'
Error inserting row 34: Unknown column 'nan' in 'field list'
Error inserting row 35: Unknown column 'nan' in 'field list'
Error inserting row 36: Unknown column 'market_cap' in 'field list'
Error inserting row 37: Unknown column 'nan' in 'field list'
Error inserting row 38: Unknown column 'nan' in 'field list'
Error inserting row 39: Unknown column 'nan' in 'field list'
Error inserting row 40: Unknown column 'nan' in 'field list'
Error inserting row 41: Unknown column 'nan' in 'field list'
Error inserting row 42: Unknown column 'nan' in 'field list'
Error inserting row 43: Unknown column 'nan' in 'field list'
Error inserting row 44: Unknown column 'nan' in 'field list'
Error inserting row 45: Unknown column 'nan' in 'field list'
Error inserting row 46: Unknown column 'nan' in 'field list'
Error inserting row 47: Unknown column 'nan' in 'field list'
Error inserting row 48: Unknown column 'nan' in 'field list'
Error inserting row 49: Unknown column 'nan' in 'field list'
Error inserting row 50: Unknown column 'nan' in 'field list'
Error inserting row 51: Unknown column 'nan' in 'field list'
Error inserting row 52: Unknown column 'nan' in 'field list'
Error inserting row 53: Unknown column 'nan' in 'field list'
Error inserting row 54: Unknown column 'nan' in 'field list'
Error inserting row 55: Unknown column 'nan' in 'field list'
Error inserting row 56: Unknown column 'nan' in 'field list'
Error inserting row 57: Unknown column 'nan' in 'field list'
Error inserting row 58: Unknown column 'nan' in 'field list'
Error inserting row 59: Unknown column 'nan' in 'field list'
Error inserting row 60: Unknown column 'nan' in 'field list'
Error inserting row 61: Unknown column 'nan' in 'field list'
Error inserting row 62: Unknown column 'nan' in 'field list'
Error inserting row 63: Unknown column 'nan' in 'field list'
Error inserting row 64: Unknown column 'nan' in 'field list'
Error inserting row 65: Unknown column 'nan' in 'field list'
Error inserting row 66: Unknown column 'nan' in 'field list'
Error inserting row 67: Unknown column 'nan' in 'field list'
Error inserting row 68: Unknown column 'nan' in 'field list'
Error inserting row 69: Unknown column 'nan' in 'field list'
Error inserting row 70: Unknown column 'nan' in 'field list'
Error inserting row 71: Unknown column 'nan' in 'field list'
Error inserting row 72: Unknown column 'nan' in 'field list'
Error inserting row 73: Unknown column 'nan' in 'field list'
Error inserting row 74: Unknown column 'nan' in 'field list'
Error inserting row 75: Unknown column 'nan' in 'field list'
Error inserting row 76: Unknown column 'nan' in 'field list'
Error inserting row 77: Unknown column 'nan' in 'field list'
Error inserting row 78: Unknown column 'nan' in 'field list'
Error inserting row 79: Unknown column 'nan' in 'field list'
Error inserting row 80: Unknown column 'nan' in 'field list'
Error inserting row 81: Unknown column 'nan' in 'field list'
Error inserting row 82: Unknown column 'nan' in 'field list'
Error inserting row 83: Unknown column 'nan' in 'field list'
Error inserting row 84: Unknown column 'nan' in 'field list'
Error inserting row 85: Unknown column 'nan' in 'field list'
Error inserting row 86: Unknown column 'nan' in 'field list'
Error inserting row 87: Unknown column 'nan' in 'field list'
Error inserting row 88: Unknown column 'nan' in 'field list'
Error inserting row 89: Unknown column 'nan' in 'field list'
Error inserting row 90: Unknown column 'nan' in 'field list'
Error inserting row 91: Unknown column 'nan' in 'field list'
Error inserting row 92: Unknown column 'nan' in 'field list'
Error inserting row 93: Unknown column 'nan' in 'field list'
Error inserting row 94: Unknown column 'nan' in 'field list'
Error inserting row 95: Unknown column 'nan' in 'field list'
Error inserting row 96: Unknown column 'nan' in 'field list'
Error inserting row 97: Unknown column 'nan' in 'field list'
Error inserting row 98: Unknown column 'nan' in 'field list'
Error inserting row 99: Unknown column 'nan' in 'field list'
Error inserting row 100: Unknown column 'nan' in 'field list'
Error inserting row 101: Unknown column 'nan' in 'field list'
Error inserting row 102: Unknown column 'nan' in 'field list'
Error inserting row 103: Unknown column 'nan' in 'field list'
Error inserting row 104: Unknown column 'nan' in 'field list'
Error inserting row 105: Unknown column 'nan' in 'field list'
Error inserting row 106: Unknown column 'nan' in 'field list'
Error inserting row 107: Unknown column 'nan' in 'field list'
Error inserting row 108: Unknown column 'nan' in 'field list'
Error inserting row 109: Unknown column 'nan' in 'field list'
Error inserting row 110: Unknown column 'nan' in 'field list'
Error inserting row 111: Unknown column 'nan' in 'field list'
Error inserting row 112: Unknown column 'nan' in 'field list'
Error inserting row 113: Unknown column 'nan' in 'field list'
Error inserting row 114: Unknown column 'nan' in 'field list'
Error inserting row 115: Unknown column 'nan' in 'field list'
Error inserting row 116: Unknown column 'nan' in 'field list'
Error inserting row 117: Unknown column 'nan' in 'field list'
Error inserting row 118: Unknown column 'nan' in 'field list'
Error inserting row 119: Unknown column 'nan' in 'field list'
Error inserting row 120: Unknown column 'nan' in 'field list'
Error inserting row 121: Unknown column 'nan' in 'field list'
Error inserting row 122: Unknown column 'nan' in 'field list'
Error inserting row 123: Unknown column 'nan' in 'field list'
Error inserting row 124: Unknown column 'nan' in 'field list'
Error inserting row 125: Unknown column 'nan' in 'field list'
Error inserting row 126: Unknown column 'nan' in 'field list'
Error inserting row 127: Unknown column 'nan' in 'field list'
Error inserting row 128: Unknown column 'nan' in 'field list'
Error inserting row 129: Unknown column 'nan' in 'field list'
Error inserting row 130: Unknown column 'nan' in 'field list'
Error inserting row 131: Unknown column 'nan' in 'field list'
Error inserting row 132: Unknown column 'nan' in 'field list'
Error inserting row 133: Unknown column 'nan' in 'field list'
Error inserting row 134: Unknown column 'nan' in 'field list'
Error inserting row 135: Unknown column 'nan' in 'field list'
Error inserting row 136: Unknown column 'nan' in 'field list'
Error inserting row 137: Unknown column 'nan' in 'field list'
Error inserting row 138: Unknown column 'nan' in 'field list'
Error inserting row 139: Unknown column 'nan' in 'field list'
Error inserting row 140: Unknown column 'nan' in 'field list'
Error inserting row 141: Unknown column 'nan' in 'field list'
Error inserting row 142: Unknown column 'nan' in 'field list'
Error inserting row 143: Unknown column 'nan' in 'field list'
Error inserting row 144: Unknown column 'nan' in 'field list'
Error inserting row 145: Unknown column 'nan' in 'field list'
Error inserting row 146: Unknown column 'nan' in 'field list'
Error inserting row 147: Unknown column 'nan' in 'field list'
Error inserting row 148: Unknown column 'nan' in 'field list'
Error inserting row 149: Unknown column 'nan' in 'field list'
Error inserting row 150: Unknown column 'nan' in 'field list'
Error inserting row 151: Unknown column 'nan' in 'field list'
Error inserting row 152: Unknown column 'nan' in 'field list'
Error inserting row 153: Unknown column 'nan' in 'field list'
Error inserting row 154: Unknown column 'nan' in 'field list'
Error inserting row 155: Unknown column 'nan' in 'field list'
Error inserting row 156: Unknown column 'nan' in 'field list'
Error inserting row 157: Unknown column 'nan' in 'field list'
Error inserting row 158: Unknown column 'nan' in 'field list'
Error inserting row 159: Unknown column 'nan' in 'field list'
Error inserting row 161: Unknown column 'nan' in 'field list'
Error inserting row 162: Unknown column 'nan' in 'field list'
Error inserting row 163: Unknown column 'nan' in 'field list'
Error inserting row 164: Unknown column 'nan' in 'field list'
Error inserting row 165: Unknown column 'nan' in 'field list'
Error inserting row 167: Unknown column 'nan' in 'field list'
Error inserting row 168: Unknown column 'nan' in 'field list'
Error inserting row 169: Unknown column 'nan' in 'field list'
Error inserting row 170: Unknown column 'nan' in 'field list'
Error inserting row 171: Unknown column 'nan' in 'field list'
Error inserting row 172: Unknown column 'nan' in 'field list'
Error inserting row 173: Unknown column 'market_cap' in 'field list'
Error inserting row 174: Unknown column 'nan' in 'field list'
Error inserting row 175: Unknown column 'nan' in 'field list'
Error inserting row 176: Unknown column 'nan' in 'field list'
Error inserting row 177: Unknown column 'nan' in 'field list'
Error inserting row 178: Unknown column 'nan' in 'field list'
Error inserting row 179: Unknown column 'nan' in 'field list'
Error inserting row 180: Unknown column 'market_cap' in 'field list'
Error inserting row 181: Unknown column 'nan' in 'field list'
Error inserting row 182: Unknown column 'nan' in 'field list'
Error inserting row 184: Unknown column 'nan' in 'field list'
Error inserting row 185: Unknown column 'nan' in 'field list'
Error inserting row 186: Unknown column 'nan' in 'field list'
Error inserting row 187: Unknown column 'nan' in 'field list'
Error inserting row 189: Unknown column 'nan' in 'field list'
Error inserting row 191: Unknown column 'nan' in 'field list'
Data insertion complete.

ProgrammingError: Invalid connection or not connected

In [73]:
# Close Connection
cur.close()
conn.close()

ProgrammingError: Invalid connection or not connected