In [91]:
import pandas as pd
import numpy as np
import logging

# Load the data file
file_path = 'C:/Users/chris/switchdrive/SyncVM/CIP/hslu-cip/data/clean_data/scraped_shares_data2.csv'
data = pd.read_csv(file_path, delimiter=';')

# Display the first few rows of the dataframe and the general information
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 19 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Name                                                       187 non-null    object
 1   Currency                                                   184 non-null    object
 2   Market Cap                                                 184 non-null    object
 3   CDP                                                        19 non-null     object
 4   FTSE4Good                                                  4 non-null      object
 5   MSCI ESG Ratings                                           4 non-null      object
 6   Moody's ESG Solution                                       2 non-null      object
 7   Sustainalytics                                             27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)  119 non-null    object
 9   Share of women in total workforce                          157 non-null    object
 10  Rate of resignation                                        57 non-null     object
 11  Type                                                       187 non-null    object
 12  Sub type                                                   187 non-null    object
 13  Market                                                     187 non-null    object
 14  ISIN Code                                                  187 non-null    object
 15  Industry                                                   187 non-null    object
 16  SuperSector                                                187 non-null    object
 17  Sector                                                     187 non-null    object
 18  Subsector                                                  187 non-null    object
dtypes: object(19)
memory usage: 28.6+ KB

In [92]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,Rate of resignation,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector
0,ACCOR,EUR,9.510B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,%,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels"
1,AIR LIQUIDE,EUR,97.870B,NaN,NaN,NaN,NaN,NaN,NaN,28 %,8.6 %,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals"
2,AIRBUS SE,EUR,126.686B,NaN,NaN,NaN,NaN,NaN,NaN,20 %,NaN,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace"
3,ARCELORMITTAL SA,EUR,20.050B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel"
4,AXA,EUR,75.961B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,10 %,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,TELECOM ITALIA,EUR,3.420B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38 %,NaN,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services"
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,TERNA,EUR,14.609B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08 %,1.8 %,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity"
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,UNIPOL,EUR,5.740B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.3 %,2.7 %,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance"

In [93]:
# Check for columns that are completely empty and drop them
data = data.dropna(how='all', axis=1)

# Show the columns removed (if any)
columns_removed = data.columns.difference(columns_with_values.columns)

# Updated DataFrame info
columns_with_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 19 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Name                                                       187 non-null    object
 1   Currency                                                   184 non-null    object
 2   Market Cap                                                 184 non-null    object
 3   CDP                                                        19 non-null     object
 4   FTSE4Good                                                  4 non-null      object
 5   MSCI ESG Ratings                                           4 non-null      object
 6   Moody's ESG Solution                                       2 non-null      object
 7   Sustainalytics                                             27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)  119 non-null    object
 9   Share of women in total workforce                          157 non-null    object
 10  Rate of resignation                                        57 non-null     object
 11  Type                                                       187 non-null    object
 12  Sub type                                                   187 non-null    object
 13  Market                                                     187 non-null    object
 14  ISIN Code                                                  187 non-null    object
 15  Industry                                                   187 non-null    object
 16  SuperSector                                                187 non-null    object
 17  Sector                                                     187 non-null    object
 18  Subsector                                                  187 non-null    object
dtypes: object(19)
memory usage: 28.6+ KB

In [94]:
# Count rows where all elements are NaN
empty_rows_count = data.isna().all(axis=1).sum()
print("Number of completely empty rows:", empty_rows_count)

# Check for rows that are completely empty and drop them
data = data.dropna(how='all', axis=0)
data

Number of completely empty rows: 5

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,Rate of resignation,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector
0,ACCOR,EUR,9.510B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,%,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels"
1,AIR LIQUIDE,EUR,97.870B,NaN,NaN,NaN,NaN,NaN,NaN,28 %,8.6 %,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals"
2,AIRBUS SE,EUR,126.686B,NaN,NaN,NaN,NaN,NaN,NaN,20 %,NaN,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace"
3,ARCELORMITTAL SA,EUR,20.050B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel"
4,AXA,EUR,75.961B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,10 %,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,76.819B,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,%,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts","40101020, Automobiles"
186,STMICROELECTRONICS,EUR,34.661B,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,%,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment","10102010, Semiconductors"
187,TELECOM ITALIA,EUR,3.420B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38 %,NaN,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services"
189,TERNA,EUR,14.609B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08 %,1.8 %,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity"
191,UNIPOL,EUR,5.740B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.3 %,2.7 %,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance"

In [95]:
# Helper function to convert Market Cap to numeric
def convert_market_cap(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().upper()
    if value.endswith('B'):
        return float(value[:-1]) * 1e9  # Convert billions to a numeric value
    elif value.endswith('M'):
        return float(value[:-1]) * 1e6  # Convert millions to a numeric value
    elif value.endswith('K'):
        return float(value[:-1]) * 1e3  # Convert thousands to a numeric value
    else:
        return float(value)  # Handle numeric-only strings as is
    
# Apply conversions
data['Market Cap'] = data['Market Cap'].apply(convert_market_cap)
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,Rate of resignation,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector
0,ACCOR,EUR,9.510000e+09,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,%,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels"
1,AIR LIQUIDE,EUR,9.787000e+10,NaN,NaN,NaN,NaN,NaN,NaN,28 %,8.6 %,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals"
2,AIRBUS SE,EUR,1.266860e+11,NaN,NaN,NaN,NaN,NaN,NaN,20 %,NaN,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace"
3,ARCELORMITTAL SA,EUR,2.005000e+10,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel"
4,AXA,EUR,7.596100e+10,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,10 %,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.681900e+10,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,%,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts","40101020, Automobiles"
186,STMICROELECTRONICS,EUR,3.466100e+10,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,%,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment","10102010, Semiconductors"
187,TELECOM ITALIA,EUR,3.420000e+09,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38 %,NaN,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services"
189,TERNA,EUR,1.460900e+10,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08 %,1.8 %,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity"
191,UNIPOL,EUR,5.740000e+09,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.3 %,2.7 %,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance"

In [96]:
# Beispiel-Wechselkurse zu USD: Google 18. Apr., 13:08 UTC
exchange_rates = {
    'EUR': 1.07,
    'GBP': 1.25,
    'NOK': 0.091 
}

def parse_and_convert_tons_currency(value):
    # Prüft auf NaN Werte
    if pd.isna(value) or value == '':
        return None
    
    parts = value.split(' ')
    # Extrahiert den Betrag, die Einheit und die Währung
    if parts[0].replace(',', '') == '':
        amount =  None
    else:
        amount = float(parts[0].replace(',', ''))

    
    unit = parts[2]
    currency = parts[4].strip('()')

    # Konvertiert Tausend in Millionen, falls nötig
    if unit == 'Thousand':
        amount /= 1000

    # Wandelt den Betrag in USD um, falls er nicht bereits in USD ist
    if currency != 'USD':
        amount *= exchange_rates.get(currency, 1)

    return amount

# Anwendung der Funktion
data['Carbon footprint (total GHG emissions / enterprise value)' + '_in_USD'] = data['Carbon footprint (total GHG emissions / enterprise value)'].apply(parse_and_convert_tons_currency)
data = data.drop('Carbon footprint (total GHG emissions / enterprise value)',axis='columns')
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Share of women in total workforce,Rate of resignation,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector,Carbon footprint (total GHG emissions / enterprise value)_in_USD
0,ACCOR,EUR,9.510000e+09,NaN,NaN,NaN,NaN,NaN,%,%,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels",572.631900
1,AIR LIQUIDE,EUR,9.787000e+10,NaN,NaN,NaN,NaN,NaN,28 %,8.6 %,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals",NaN
2,AIRBUS SE,EUR,1.266860e+11,NaN,NaN,NaN,NaN,NaN,20 %,NaN,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace",NaN
3,ARCELORMITTAL SA,EUR,2.005000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel",3373.201000
4,AXA,EUR,7.596100e+10,NaN,NaN,NaN,NaN,NaN,NaN,10 %,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",2.717800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.681900e+10,NaN,NaN,NaN,NaN,NaN,%,%,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts","40101020, Automobiles",6858.244394
186,STMICROELECTRONICS,EUR,3.466100e+10,NaN,NaN,NaN,NaN,NaN,%,%,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment","10102010, Semiconductors",27.984900
187,TELECOM ITALIA,EUR,3.420000e+09,NaN,NaN,NaN,NaN,NaN,38 %,NaN,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services",133.632300
189,TERNA,EUR,1.460900e+10,NaN,NaN,NaN,NaN,NaN,16.08 %,1.8 %,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity",141.369684
191,UNIPOL,EUR,5.740000e+09,NaN,NaN,NaN,NaN,NaN,54.3 %,2.7 %,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",509.708945

In [97]:
# Helper function to convert percentage strings to floats
def convert_percentage(value):
    if pd.isna(value) or value.strip('% ') == '':
        return np.nan
    return float(value.strip('% ')) / 100

# Apply conversions
data['Share of women in total workforce in %'] = data['Share of women in total workforce'].apply(convert_percentage)
data = data.drop("Share of women in total workforce",axis='columns')
data['Rate of resignation in %'] = data['Rate of resignation'].apply(convert_percentage)
data = data.drop('Rate of resignation', axis='columns')
data

# Transformed data
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187 entries, 0 to 191
Data columns (total 19 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Name                                                              187 non-null    object
 1   Currency                                                          184 non-null    object
 2   Market Cap                                                        184 non-null    float64
 3   CDP                                                               19 non-null     object
 4   FTSE4Good                                                         4 non-null      object
 5   MSCI ESG Ratings                                                  4 non-null      object
 6   Moody's ESG Solution                                              2 non-null      object
 7   Sustainalytics                                                    27 non-null     object
 8   Type                                                              187 non-null    object
 9   Sub type                                                          187 non-null    object
 10  Market                                                            187 non-null    object
 11  ISIN Code                                                         187 non-null    object
 12  Industry                                                          187 non-null    object
 13  SuperSector                                                       187 non-null    object
 14  Sector                                                            187 non-null    object
 15  Subsector                                                         187 non-null    object
 16  Carbon footprint (total GHG emissions / enterprise value)_in_USD  119 non-null    float64
 17  Share of women in total workforce in %                            144 non-null    float64
 18  Rate of resignation in %                                          51 non-null     float64
dtypes: float64(4), object(15)
memory usage: 29.2+ KB

In [98]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Type,Sub type,Market,ISIN Code,Industry,SuperSector,Sector,Subsector,Carbon footprint (total GHG emissions / enterprise value)_in_USD,Share of women in total workforce in %,Rate of resignation in %
0,ACCOR,EUR,9.510000e+09,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure","405010, Travel and Leisure","40501025, Hotels and Motels",572.631900,NaN,NaN
1,AIR LIQUIDE,EUR,9.787000e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals","552010, Chemicals","55201020, Specialty Chemicals",NaN,0.2800,0.086
2,AIRBUS SE,EUR,1.266860e+11,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services","502010, Aerospace and Defense","50201010, Aerospace",NaN,0.2000,NaN
3,ARCELORMITTAL SA,EUR,2.005000e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources","551020, Industrial Metals and Mining","55102010, Iron and Steel",3373.201000,NaN,NaN
4,AXA,EUR,7.596100e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",2.717800,NaN,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.681900e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts","401010, Automobiles and Parts","40101020, Automobiles",6858.244394,NaN,NaN
186,STMICROELECTRONICS,EUR,3.466100e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology","101020, Technology Hardware and Equipment","10102010, Semiconductors",27.984900,NaN,NaN
187,TELECOM ITALIA,EUR,3.420000e+09,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications","151020, Telecommunications Service Providers","15102015, Telecommunications Services",133.632300,0.3800,NaN
189,TERNA,EUR,1.460900e+10,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities","651010, Electricity","65101015, Conventional Electricity",141.369684,0.1608,0.018
191,UNIPOL,EUR,5.740000e+09,NaN,NaN,NaN,NaN,NaN,Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance","303020, Non-life Insurance","30302010, Full Line Insurance",509.708945,0.5430,0.027

In [99]:
# Calculate the percentage of missing values per column
missing_data = data.isnull().mean() * 100.00

# Display the percentage of missing data per column
missing_data_sorted = missing_data.sort_values(ascending=False)
missing_data_sorted

Moody's ESG Solution                                                98.930481
FTSE4Good                                                           97.860963
MSCI ESG Ratings                                                    97.860963
CDP                                                                 89.839572
Sustainalytics                                                      85.561497
Rate of resignation in %                                            72.727273
Carbon footprint (total GHG emissions / enterprise value)_in_USD    36.363636
Share of women in total workforce in %                              22.994652
Market Cap                                                           1.604278
Currency                                                             1.604278
SuperSector                                                          0.000000
Subsector                                                            0.000000
Sector                                                               0.000000
Name                                                                 0.000000
Industry                                                             0.000000
ISIN Code                                                            0.000000
Market                                                               0.000000
Type                                                                 0.000000
Sub type                                                             0.000000
dtype: float64

In [100]:
#Save DataFrame to a CSV file with semicolon as the delimiter with the required _stage2.csv ending form project
data.to_csv('C:/Users/chris/switchdrive/SyncVM/CIP/hslu-cip/data/clean_data/scraped_shares_data2_stage3.csv', sep=';', index=False)